[2020-03-17 12:28] rafaelgssa opened #3 "Stop scrobble when closing a tab without stopping the video"

[2020-03-17 12:59] #3 closed

[2020-03-17 13:06] rafaelgssa opened #5 "Scrobble on tab close"
With #4, scrobbles are now stopped when closing a tab, but if the user had finished watching something (progress >= 80.0), it will not scrobble because the progress will still be the initial 0.0 stored in the storage when the scrobble started. So we should update the stored progress when it reaches 80.0 to avoid this.

[2020-03-17 13:24] #5 closed

[2020-03-17 13:27] rafaelgssa opened #7 "Make streaming services optional"

[2020-03-17 13:30] rafaelgssa opened #8 "Add HBO GO"

[2020-03-17 16:01] #8 closed

[2020-03-17 16:06] rafaelgssa opened #10 "Add option to correct wrong items"

[2020-06-15 10:10] MrMamen opened #11 "Selected entries needs to be reset when syncing"
If you sync the entries ar no longer selectable due to being found on trakt, they are however still selected, so syncing another time will send them to trakt as well.

[2020-06-21 03:32] rafaelgomesxyz opened #13 "Suggestion: move to GitLab"
@MrMamen Do you have any problems with moving the project to GitLab? It's not a big deal, just a personal preference, as I'm moving to more open source alternatives that aren't owned by major corporations, since GitHub is closed-source and owned by Microsoft. But if you don't want to, we can keep it here. Like I said, no big deal.

[2020-06-24 21:45] MrMamen commented on #13
I don't really mind that Microsoft owns Github nor that it is closed source. I like my profile at GitHub, and I don't see any advantages of switching to GitLab at this time.

[2020-06-24 21:45] #13 closed, assigned to nobody

[2020-06-25 11:57] rafaelgomesxyz commented on #13
No problem.

[2020-07-07 15:13] rafaelgomesxyz opened #14 "Add option to correct wrong items"
- [x] Option to correct locally (#22)
- [x] Option to submit corrections to a Google sheet, so other users can receive suggestions (#33)

[2020-07-07 20:56] MrMamen opened #15 "Typescript types be defined where they belong"
typedefs.d.ts currently holds all types. This should be avoided in the future as it grows longer, can cause merge conflicts, and most of them clearly belong to an specific streaming service. They should instead be defined inline (they can still be exported) or in the same directory as the files accessing them. They should not be global if possible, but rather be imported as needed.

[2020-07-07 22:20] rafaelgomesxyz commented on #15
Yeah, in another project of mine I just put them in the file where they belong as exports.

[2020-07-09 15:59] rafaelgomesxyz commented on #15
This will be taken care of with #12, because the pre-commit hook can't see `global.d.ts`, so it fails.

[2020-07-14 14:32] rafaelgomesxyz opened #19 "Merge with scrobbler or third repo with common code?"
There's a lot of code that will be duplicated between the scrobbler and the sync extensions. In order to reduce that, I can think of two solutions:

* Merge both extensions (it's not like the size is that much bigger, and users might prefer to have a single extension installed rather than multiple ones)
* Create a third repo to host common code (which we then publish as a package and use as a depe

[2020-07-15 21:00] MrMamen commented on #19
Hmm. Yeah I think it is important to reduce duplicate code. It's a tough call. I'll just try to write some arguments for each below:

Crate a third repo:
- the services that scrobble and those who sync history may not be the same. (Both because of missing APIs and also because a developer has to do the job.)
- It might be easier to understand and work with the code when it's not too complex.
- Som

[2020-07-15 21:01] MrMamen commented on #19
Personally I have a small preference for merging the code bases. Should still aim for having a clean code though.

[2020-07-15 21:17] #15 closed, assigned to rafaelgomesxyz

[2020-07-15 23:16] rafaelgomesxyz opened #21 "Add images"
I'm thinking they should be added as backgrounds in the cards, with some transparency, to save space.

[2020-07-16 03:30] rafaelgomesxyz commented on #19
I also prefer merging. I'll see if I can start working on it. This repo is more advanced than the scrobbler, so it makes more sense to merge the scrobbler here. But at the same time, I think 'Universal Trakt Scrobbler' is a better name than 'Universal Trakt Sync'. Maybe we can just merge the scrobbler here and rename the repo.

[2020-07-16 08:43] MrMamen commented on #19
I agree with you.

[2020-07-19 23:35] #19 closed, assigned to MrMamen

[2020-08-09 22:23] MrMamen opened #27 "Support add custom date on NRK & Viaplay sync"
Instead of just defaulting to current date.

[2020-08-09 22:31] MrMamen opened #29 "Add support for other Viaplay on other domains"
Currently viaplay is hardcoded to use viaplay.no
It needs to also support:
http://viasat.se/
http://viasat.dk/
http://viasat.fi/

If possible this should be automatically detected: Probably by opening viaplay.com and see where it is redirected.

[2020-08-10 21:46] #27 closed, assigned to MrMamen

[2020-09-07 19:39] MrMamen opened #34 "Wrapped when logged in"
Possible just on Norwegian localization, but the top bar is wrapped when being logged in:
![loggedout](https://user-images.githubusercontent.com/5688606/92413921-7a519280-f152-11ea-8f20-fffca8b6918a.png)
![loggedin](https://user-images.githubusercontent.com/5688606/92413935-82113700-f152-11ea-83b1-b45b45221235.png)

[2020-09-09 22:17] #14 closed, assigned to rafaelgomesxyz

[2020-09-12 18:27] MrMamen opened #36 "NRK history sync stopped working"
This seems to be because of an API redesign by NRK.

[2020-09-14 22:12] MrMamen commented on #36
This is a bit harder than I initially thought. The new API has:

@rafaelgssa Do you know if it is even possible to bypass this with JavaScript?

[2020-09-15 20:44] MrMamen commented on #36
Possible if I get the execute/injection scripts to work?

[2020-09-16 17:22] rafaelgomesxyz commented on #36
Sorry, I'm a bit out of time, will try to look into this tomorrow.

[2020-09-16 18:37] MrMamen commented on #36
Not sure if there is anything you could do. I have mapped out the API, but I haven't committed anything. I could do that, but I believe the only way to bypass CORS is a proxy. (Which is bad for privacy) Or possible to open a tab for tv.nrk.no and executing custom code.

[2020-09-24 19:45] MrMamen opened #38 "Displayed item doesn't match what is actually sent to Trakt"
Due to a bug, sometimes what is shown as a trakt match, doesn't match what is actually sent to Trakt when syncing. This is due to a merging of two different searches (show & episode) that might not match.

[2020-10-05 17:13] schteff opened #40 "Request: Telia Play"
Hi! I just found your project while searching for a way to scrobble or sync Telia Play to trakt.tv.

I tried following your development guide but my knowledge of chrome plugin development is non existent and my time is quite limited (parent with small children).

However it seems like Telia has a closed API with many endpoints when inspecting the network requests.

For example this call which fetc

[2020-10-24 13:59] rafaelgomesxyz commented on #36
Are you positive there's no way to bypass CORS with the extension? Because as far as I know, you can make any requests from the background of an extension, as long as the host is listed in the permissions. What's the host of the new API?

[2020-10-25 23:10] #38 closed, assigned to MrMamen

[2020-10-26 17:51] kstunger opened #42 "Link to add extension in README not working"
Github is reporting a 404 error.

[2020-10-26 18:32] rafaelgomesxyz commented on #42
This extension has not been released yet. The only way to use it is by building it and loading it manually. I recommend to just stick to Traktflix (https://github.com/tegon/traktflix) until this one is ready for release.

[2020-10-26 18:32] #42 closed, assigned to nobody

[2020-10-27 15:14] rafaelgomesxyz commented on #40
There are examples in the templates folders (https://github.com/trakt-tools/universal-trakt-scrobbler/tree/master/src/streaming-services/scrobbler-template for scrobble and https://github.com/trakt-tools/universal-trakt-scrobbler/tree/master/src/streaming-services/sync-template for sync), and you can also take a look at how other streaming services have been implemented.

But I can definitely add

[2020-10-27 16:19] schteff commented on #40
Thanks for replying!

Yes I saw the examples and I looked a bit at the NRK integration to try to make sense of it, but I got stuck after "npm start" because of the lack of detail in the instructions :)

I don't have any previous experience developing browser plugins and i'm not even sure it is possible for Telia Play.

But your reply made me give it another go. And now i figured out how to add the

[2020-10-27 16:34] rafaelgomesxyz commented on #40
It's definitely possible given the info you provided, since it has the title, season, episode and year. That's all you need to match the item on Trakt.

You can ask here or you can also email me at rafael.gssa@gmail.com. Any way you prefer.

[2020-10-27 19:56] rafaelgomesxyz opened #44 "Fix Netflix sync time"
The Netflix watched date is always when the user began watching, not when they finished. We should change that by adding the length of the episode/movie to the watch date, so it's more accurate.

[2020-10-27 20:12] rafaelgomesxyz commented on #34
What do you think about using icons there instead of the names? Because then the size would be the same regardless of language.

[2020-10-27 20:13] rafaelgomesxyz opened #45 "Implement previous page"

[2020-10-27 22:02] MrMamen commented on #34
A good idea, as we could and should keep tooltips for explaining what the icons really do.

[2020-10-27 22:18] #21 closed, assigned to rafaelgomesxyz

[2020-10-27 22:23] rafaelgomesxyz opened #46 "Make changes for rate limiting"
Trakt announced they'll start rate limiting requests to the API today (https://trakt.docs.apiary.io/#introduction/rate-limiting). The new limits are:

* `POST` to `/sync/history/*` - 2 calls every second
* All other API methods - 1000 calls every 5 minutes

We should make sure our requests don't exceed this.

We already have a local cache, but it might be a good idea to setup a Google sheet on top

[2020-10-28 22:27] MrMamen commented on #36
It seems I forgot to include the correct hostpattern initially. They even have an documentation of their API:
https://psapi-we.nrk.no/documentation/redoc/personlig/

[2020-10-29 18:37] schteff commented on #40
I have made quite a bit of progress.

I have parsed the "Continue watching" list and can now see and sync the items in the History interface of the plugin.

The thing is that it is just a "Continue watching" list and not a real "Watched history" list. So it mostly contains the upcoming episodes of the shows i'm currently watching.
I'm going to continue snooping the Telia API to see if I can make m

[2020-10-29 19:03] rafaelgomesxyz commented on #40
Great to hear!

It would be better to find an endpoint that offers the complete history, but if they don't have one then building the history manually seems like a good option (although it may lead to a lot of requests). I assume they don't have their API documented? Is there any history page in Telia itself?

The progress is irrelevant to the sync, it's only there to serve as reference for the us

[2020-10-30 11:48] schteff commented on #40
No they don't have a history page. And no documentation for the API from what I can find.

But when going to a shows page I can see the watched progress for each episode. So i'm thinking I can use the "continue watching" data to find shows that are relevant for syncing and fetch the status for all episodes for each show (one request per show).

The most obvious problem with this is that after watc

[2020-11-01 16:35] schteff commented on #40
My proof of concept seems to work. I haven't gone into pagination because of how the algorithm works.

Basically I collect all shows found in both the "continue watching list" and "my list". Then i do one API request to find all seasons of all shows.

Then i do one request for each season of each show to get all episode IDs (and other metadata).

And last one request to get the "watched" status fo

[2020-11-01 16:47] rafaelgomesxyz commented on #40
The cached corrections are based on the item ID. I see you're getting the ID from `mediaObject.titleId`, so can you confirm if this is a unique ID for each item?

Upon re-adding the plugin, your local cache no longer exists, so it's normal (at the moment) for you to lose all of your corrections.

[2020-11-02 11:11] schteff commented on #40
Yes, using loopId instead fixed the issue thanks.

Should I make a pull request? Or would you need scrobbling and/or support for movies or other features added before that?

(movies are lost during the "get seasons/explore" step).

[2020-11-02 12:45] rafaelgomesxyz commented on #40
It's not necessary to have both scrobbling and sync, but it would be preferable to support movies as well.

[2020-11-02 15:36] schteff commented on #40
Added support for movies without any more requests.
https://github.com/trakt-tools/universal-trakt-scrobbler/compare/master...schteff:telia-play

International movies with Swedish names are "not found" though. But they can be corrected using "Is this wrong?"

[2020-11-02 17:57] rafaelgomesxyz commented on #40
Seems like users will have to do quite a few manual corrections. Can you provide more data examples like the one in the OP so I can mock the API and test it myself, since I can't use Telia Play? Preferably one more from an episode that leads to "Not Found" and another one for a movie as well.

But it looks good, feel free to make a PR!

[2020-11-02 18:02] rafaelgomesxyz commented on #40
Also, just a suggestion (not really important): if all episodes follow the same naming pattern ("S0:E0 Episode Name - Show Name"), it might be better to clean the name so it only has the episode name.

[2020-11-03 22:40] MrMamen commented on #44
Possible as an user option?

[2020-11-03 22:43] MrMamen commented on #40
As for correction titles: The recommended work around is to translate the title on https://www.themoviedb.org. The search will most likely pickup the correct title unless it is very generic.

[2020-11-04 17:22] rafaelgomesxyz commented on #44
Well, I can't see why anyone would want it to behave like it does currently, since the watch time is always wrong. But sure, we can add it as an option, enabled by default.

[2020-11-04 17:34] rafaelgomesxyz opened #47 "Give user option to do initial sync and prevent loading synced history"
This would be very nice to prevent unnecessary requests to the Trakt API, specially since they're imposing limits now. Here's how I think it should happen:

1. Upon opening the sync page for a streaming service for the first time, the user is prompted with an option to sync their entire history so far (since the Trakt API allows 1000 requests every 5 minutes, it's perfect for scenarios like this)

[2020-11-04 18:56] MrMamen commented on #47
That makes sense. Just have to make sure that it's possible to override or reset.

[2020-11-04 19:08] MrMamen commented on #44
I think this is a case with pretty much all streaming services. It records the last time the play-button was clicked, or similar. The problem is of course if you watch a part of the title at one point, and resumes at another time. Not sure if it's worth making a lot of UI for, but at least it is a concern.
Also there are a few similar off situations.
If you use trakt "add on release date"-feature,

[2020-11-04 19:40] MrMamen commented on #29
I'm pretty much stuck on this because I'm unable to inject script and read content from another page. It could of course be done by cloning (sharing) code base, and just adjust the baseURL in each case, but I feel this is a last resort as it clutters the list.

[2020-11-04 19:44] rafaelgomesxyz commented on #29
Well, isn't it possible to do what you mentioned before? Make a request to `https://viaplay.com` and see where it redirects to?

[2020-11-04 19:48] schteff commented on #40
I'll try to give you some more examples of JSON responses for mocking in the coming days.

Sadly not all shows follow the same naming pattern. The HBO shows have that pattern, so I could check the "storeName" value and trim the episode names for only HBO, but the shows from other sources (SVT, Kanal 5...) does not use that pattern.

I'll also try adding TmdbApi and see how that changes things. Fro

[2020-11-04 19:57] rafaelgomesxyz commented on #40
Don't worry about it, it's probably better to just keep the name they have in that case.

Keeping things separate is best for reuse, so if you could add those functions to `TmdbApi` that would be nice. We could potentially use it for other streaming services as well.

[2020-11-04 20:20] MrMamen commented on #40
There is no need use the TmdbApi to find translations. If the title has a translation, trakt syncs these as well. The result in the API search should be the same as a web search:
Example:
https://trakt.tv/search//?query=lejonkungen
The important is that the title is translated on tmdb. For series, it also needs to have tvdb as external id. After that trakt needs to refresh the data, and there coul

[2020-11-04 20:26] MrMamen commented on #29
It's a good idea, but I have no idea how to make it work. I think I've mentioned this on email earlier, but I tried to base this on your hbo-go-code, but the executeScript seems to fail, at least in chrome, and then I have figure out an alternative.

[2020-11-04 20:35] rafaelgomesxyz commented on #29
You shouldn't need to inject any script. Unless I'm misunderstanding, you just need to make a request:

[code]

It should automatically redirect and you should find the new URL in `response.url` (for me I got `https://viaplay.se/`).

Of course you would need to add permission for `https://viaplay.com` to the manifest because of CORS. And I'm not sure, but you might have to add permissions for each

[2020-11-04 20:50] MrMamen commented on #29
Right, that seems like a much easier approach than my complicated one. ;-)

[2020-11-04 22:06] #29 closed, assigned to nobody

[2020-11-05 06:59] schteff commented on #40
@MrMamen thanks for clarifying.

[2020-11-05 13:21] #36 closed, assigned to MrMamen

[2020-11-05 22:03] MrMamen opened #51 "Not able to disable streaming services with scrobble"
The streaming services which support scrobbling is unable to deactivate once activated.

[2020-11-05 22:06] rafaelgomesxyz commented on #51
Isn't this that problem we discussed a while ago that was most likely because of how unpacked Chrome extensions work?

[2020-11-05 22:09] MrMamen commented on #51
Yes, but I'm not so sure if that is the case. It doesn't make any sense why there should be difference between unpacked extensions and others. Unless you have tested this or have pinpointed this to a specific location I think we should leave this here. I'll see if I can look into it.

[2020-11-05 22:15] rafaelgomesxyz commented on #51
The difference is that in unpacked extensions all permissions are considered as required for some reason. So when you try to disable a streaming service and it tries to remove the permissions for that service, it fails with this message: `You cannot remove required permissions.`

The reason why I'm quite positive that that's the case is because I can disable them just fine on Firefox.

But if you

[2020-11-05 22:20] MrMamen commented on #51
But you need the same host-permissions for history-sync, and it doesn't fail to disable NRK or Viaplay which has sync-only.

[2020-11-05 22:29] rafaelgomesxyz commented on #51
That might just be a coincidence, I tried setting `hasScrobbler` to false on Netflix and I still wasn't able to disable it.

And like I said, I can disable all of them on Firefox, so this is definitely a Chrome issue.

[2020-11-05 22:31] rafaelgomesxyz commented on #51
Oh, I just thought of something, it might be because the scrobblers have to inject content in the page, so we have an entry for them in `content_scripts` and Chrome detects that as a required permission. A solution to this would be to dynamically inject scripts instead of defining them in the manifest.

[2020-11-05 22:32] MrMamen commented on #51
nice work. Now I think we are starting to pinpoint the issue.!

[2020-11-05 22:36] rafaelgomesxyz commented on #51
Firefox has a nice API for this (`browser.contentScripts`), but for cross-browser compatibility we'll probably have to use a combination of `chrome.tabs.onCreated` / `chrome.tabs.onUpdated` and `chrome.tabs.executeScript` in the background page.

[2020-11-07 17:52] schteff commented on #40
The "Not found" episodes can't be reproduces reliably. Maybe it has to do with Trakt api limitations? When i run the sync a seconds time they are mostly matched correctly. But some movies like "Baby-bossen" and "Kapten Kalsong: Filmen" (both searchable on Trakt) are always "Not found".

I have cleaned up the HBO episode names.

Here is a log of all current calls made when I run the sync using my T

[2020-11-12 22:22] MrMamen commented on #40
Unfortunately most of the JSON-responses in the log-file are invalid, seemingly due to being cut after a certain number of characters. Not sure why the movies are not found in the api-call. Could you paste the actual search, with params, and response here?

Will review pull request shortly.

[2020-11-16 21:04] schteff commented on #40
Sorry about that, I should have checked the endings of the rows. Chrome cut off the log lines in the console.

I logged using console.error instead and manually saved some complete log lines in this file.

[telia-api.example.log](https://github.com/trakt-tools/universal-trakt-scrobbler/files/5549689/telia-api.example.log)

[2020-11-16 21:24] schteff commented on #40
Here are the "Not found" movie search calls with responses (I removed the large available_translations arrays):

https://api.trakt.tv/search/movie?query=Baby-Bossen&extended=full

[code]
![image](https://user-images.githubusercontent.com/2564884/99309790-471a3680-285a-11eb-96ae-06de66733ec4.png)

https://api.trakt.tv/search/movie?query=Kapten%20Kalsong%3A%20Filmen&extended=full
[code]
![image](htt

[2020-11-19 22:00] MrMamen commented on #40
It's a bit hard to debug while just watching the code, but if I were to guess, I would say this error is in TraktSearch.ts:152, where the trakt item is supposted to match the telia-item. The matching might need an adjustment.

[2020-11-24 12:56] #40 closed, assigned to nobody

[2020-11-29 15:20] Manfred73 opened #53 "Plugin unavailable (404) for download"
The links to the plugin (chrome or firefox) result in a 404. Where can it be downloaded?

[2020-11-29 17:58] rafaelgomesxyz commented on #53
This extension is not released yet. For now, you can use [traktflix](https://github.com/tegon/traktflix).

[2020-12-16 18:31] smoothlystable opened #55 "Failing to retrieve more watched items on domains other than viaplay.no"
In history sync for Viaplay, if you're using any other region than .no, it will fail to retrieve more items than the initial items. No matter if you increase the "Items per load" or try loading next page.
Looking at the console I'm getting unauthorized calls to the watched-api on viaplay.no, so it's trying to request history from the Norwegian region, even though I'm not in that region.

[2020-12-25 01:35] victorczon opened #57 "Request"
Can someone please make an instruction video for mac. I cant get it to work. thank you

[2020-12-25 01:37] #57 closed, assigned to nobody

[2021-01-16 20:06] Manfred73 commented on #53
When do you expect this to be available/released as a plugin for Chrome?

[2021-01-27 15:28] rafaelgomesxyz commented on #53
I'm trying to get a release by the end of February, but no promises.

[2021-01-27 15:28] #53 closed, assigned to nobody

[2021-01-27 16:45] #55 closed, assigned to nobody

[2021-02-01 23:20] luxus opened #58 "Safari support."
would be nice to see it happen
https://github.com/tegon/traktflix/issues/159

[2021-04-06 21:59] MrMamen opened #60 "Various problems when scrobbling item not found"
If an item is not found on trakt while scrobling. The PopupWatching-component will still show, but it will show the previous matched show. Also when stoping and/or navigating elsewhere the same component is shown. The easiest way to simulate this is to remove TraktSearch.find here: https://github.com/trakt-tools/universal-trakt-scrobbler/blob/e46d9e97d387a8131ed12ea65fc0970cd4c7e868/src/streaming-

[2021-04-21 17:30] drag0nst0ne opened #61 "404 download link"
How do I even download it? Both chrome and firefox links are offline and github releases page is empty.

[2021-04-28 21:38] #34 closed, assigned to nobody

[2021-04-30 04:03] NoName95x commented on #61
Is this project dead?

[2021-04-30 12:28] rafaelgomesxyz commented on #61
It's not released yet. We're working on a stable version for release.

[2021-05-03 21:52] rafaelgomesxyz commented on #58
Apple is really inconvenient with their software that only runs on Mac, and I don't have a Mac, so unless someone with a Mac decides to do it, it won't happen.

If anyone with a Mac wants to take this, it looks relatively easy to convert it: https://developer.apple.com/documentation/safariservices/safari_web_extensions/converting_a_web_extension_for_safari

[2021-05-04 11:28] schteff opened #64 "Telia Play needs updating"
Telia has completely revamped their Telia Play interface and now use different API endpoints. They now use GraphQL.

They still have their old interface https://classic.teliaplay.se/ but that might be shut down any time soon.

The problem with the new interface is that they don't seem to have any timestamp for when a movie/episode was watched or started. They only have the progress minutes and per

[2021-05-04 13:01] rafaelgomesxyz commented on #64
It's not a problem. HBO Go doesn't have timestamps either. In that
scenario, the user will be asked to manually add a timestamp, or they can
enable the option to use the release date.

[2021-05-04 13:09] schteff commented on #64
Aha. Thanks for the info. But since they make changes to the GraphQL structure every week right now I will wait a couple of months before I dive into it to let them stabilize it. And hopefully they will have a timestamp by then. Or maybe even a "watch history" view ready to go, who knows :)

[2021-05-04 13:10] #45 closed, assigned to rafaelgomesxyz

[2021-05-04 13:15] rafaelgomesxyz commented on #64
Yeah, no problem.

[2021-05-04 17:10] #51 closed, assigned to rafaelgomesxyz

[2021-05-16 22:39] MrMamen commented on #64
@schteff Would it not be better to migrate the URLs to classic until the other one is ready, or that is closed for good? That way it could work for the time being?

[2021-05-17 06:26] schteff commented on #64
Yeah, I have actually already done that for myself, though they have added some limitations for the number of episode status calls and changed the way movies are handled. So I have an ugly looking solution which only works for episodes. And then there is the uncertainty of when the old service will be shut down completely.

I'll see if i find the time for refactoring the code and make a new pull r

[2021-05-25 08:36] ITSYV opened #72 "Sync History"
It would be a good idea to add a message to the sync history page (where you select the streaming services) that you have to be logged in to the service before you can sync.

And maybe a good idea to add a button to the streaming service sync page to go back when an error message is shown.
Also loadHistoryError should maybe be accompanied with why this error could have happened (maybe also a msg t

[2021-05-25 16:39] rafaelgomesxyz commented on #72
Yep, I have plans to check for login when loading the history.

[2021-05-26 09:53] MrMamen commented on #11
I think this is fixed in #63?

[2021-05-26 20:45] #11 closed, assigned to nobody

[2021-05-27 21:49] MrMamen opened #73 "Progress always starts at 0"
While this is ultimately up to each streaming service Event-file, there is currently no way to start a scrobble on anything other than 0. The scenario for this is when resuming a playback from the homepage of a streaming service. Calling `updateProgress `before `start`, will usually not work because `TraktItem `is not yet set. One possible solution would be to use `percentageWatched` on `Item`.

[2021-05-27 22:04] rafaelgomesxyz commented on #73
I'll be restructuring some things regarding the scrobblers/syncers soon to make adding new services easier, so I'll probably fix this there.

[2021-06-10 23:42] rafaelgomesxyz commented on #60
Did #74 fix this?

With 0e8627c, it now properly throws an error when no item was found.

[2021-06-11 16:07] #73 closed, assigned to nobody

[2021-06-11 21:27] MrMamen commented on #60
Yes!

[2021-06-11 21:27] #60 closed, assigned to nobody

[2021-06-14 19:44] techno-Dev-81 opened #76 "Provide Installation Instructions"
Can details for Installation, setup and configuration be provided, either in the Wiki or a file within the repo?

[2021-06-14 19:49] rafaelgomesxyz commented on #76
This extension is still in development. Once it's ready for use, it will be published in the Chrome/Firefox stores.

[2021-06-14 19:50] techno-Dev-81 commented on #76
@rafaelgomesxyz  Thanks :-)

[2021-06-18 06:25] noah978 opened #79 "Crunchyroll and/or Funimation Support"
I would love to see these other sites added to the list of supported websites for this project. I currently use a script called TraktRoller ([Github](https://github.com/sttz/TraktRoller)), but it doesn't quite work on the newest beta website version of Crunchyroll and I would love to have a unified extension for all of these streaming services that I use.

[2021-06-25 12:10] RaghavPrabhakar66 commented on #61
Any ETA on release? Is their a beta version available?

[2021-06-25 13:56] rafaelgomesxyz commented on #61
Trying to get it released by the end of the month, but we'll see. There's no beta currently, although you can manually install the extension using the development steps.

[2021-07-29 01:25] marcusmuller opened #84 "LINKS DEAD"
Links to extensions are dead!

[2021-07-29 13:35] rafaelgomesxyz commented on #84
Duplicate of #61

It hasn't been released yet. Hopefully we'll release it very soon.

[2021-07-29 13:35] #84 closed, assigned to nobody

[2021-08-01 17:13] LeviSnoot opened #86 "HBO Max Support"
I was looking for a way to scrobble HBO Max and this is the closest thing I could find. Would love to see HBO Max support in this project, keep up the good work!

[2021-08-01 19:19] rafaelgomesxyz commented on #86
I'll definitely be adding it now that HBO Go has been replaced with it.

[2021-08-04 11:35] tomhusband opened #87 "BBC iPlayer support?"
This project sounds like something a lot of folks would love. I'd like to have BBC iPlayer and Syncler supported.

[2021-08-11 01:36] HeroCC opened #88 "Headless Sync and Scrobble Support"
Hi team!

I'd like to request the ability to run this headless -- without an interactive browser. Ideally I'd be able to have a cronjob run a docker container once a night that will log-in to all my services, sync everything up to trakt, and terminate. Is this something supported? If not, is it something you could see adding?

Thanks!

[2021-08-11 02:10] rafaelgomesxyz commented on #88
Right now the focus is on the browser extension, as we haven't released it yet. Maybe after the release we can work on this, since it's definitely something that would be nice to have.

[2021-08-16 15:30] #44 closed, assigned to nobody

[2021-08-16 15:30] #72 closed, assigned to rafaelgomesxyz

[2021-08-21 23:24] ITSYV opened #96 "BUG: update new version - regeneratorRuntime not defined"
I just redownloaded the files and did all the commands again and get this error on the updated extension in chrome (brave browser):
Uncaught ReferenceError: regeneratorRuntime is not defined
Context
_generated_background_page.html
Stack-tracering
background.js:2 (anonieme functie)

tried multiple times (deleting, reinstalling, updating...), but can't seem to get it to work anymore.
The plugin itse

[2021-08-31 05:54] MrMamen commented on #96
This is before you can log into trakt or interact with anything? Could you provide a screenshot? You do not get any error in the cli console when running npm start?
EDIT: Also. I advice you to checkout out older commits which worked previously to see if this is a local problem. Either way it would be helpful to see where this bug might have been introduced.

[2021-09-02 23:26] ITSYV commented on #96
Yes, it was before i could login with trakt.
Another new pull from git solved the problems.. Don't know what was wrong, but everything seems to work again

[2021-09-02 23:26] #96 closed, assigned to nobody

[2021-09-03 00:04] ITSYV opened #99 "BUG: Amazon Prime not scrobbling + history sync not working - EU"
Everything is up and running over here and all services seem to work, except for the Amazon Prime service.
It won't scrobble and the history synchronisation won't work either.  (can't load error)
I'm working with the dutch version of primevideo (though it's just primevideo.com, just the translated website).

Is it (still) working for you guys?
Haven't had the time to debug, as it's working with th

[2021-09-05 13:45] rafaelgomesxyz commented on #99
I just tested and it's working fine for me, so it might be a region thing. I'll see if I can test with a VPN.

[2021-09-05 22:23] ITSYV commented on #99
@rafaelgomesxyz
I just tried syncing the history again. The console gives me an 404 error on the GetPlaybackResources url with this output:
`{ "error": "wrong_region", "customer_home_region": "EU" }`
So I think "atv-ps.primevideo.com" is a regional url.  "fls-eu.amazon.com" is used for retrieving the video in EU.

Also the watched list is differently build in EU.
URL:
`https://www.primevideo.com/g

[2021-09-05 22:56] rafaelgomesxyz commented on #99
Oh, I see. Thanks for the response!

[2021-09-21 15:06] ITSYV opened #102 "BUG: Incorrect scrobbling when using higher playback speed"
When using a higher playback speed (ex. 2x - with a plugin), the scrobbling seems to be incorrect.
I noticed this on a Netflix show and on Prime.

I also get an error in console 'traktflix: Scrobble error undefined undefined undefined"
Not sure if this is due to the series: Outer banks s01e03 on Netflix -> shows "pilot" in traktflix

[2021-09-25 15:36] husk007 opened #103 "Disney +, Hulu, Apple TV support"
Hi,
The project looks great. I have been waiting a long time for such a solution that allows to combine many streaming services with trakt.tv. Do you plan to integrate with Disney +, Hulu, Apple TV +? Or maybe there is also a chance for some Polish websites?
https://hbogo.pl/
https://player.pl/
https://polsatboxgo.pl/

[2021-09-26 17:14] rollecode commented on #76
It's been months. Is there any plugin available yet for Chrome? Can you at least provide some short instructions on how to install dev version of the extension? Thanks!

[2021-09-27 12:11] ITSYV commented on #103
Hi Husk

Are those services free to watch if you're a Polish resident? (I'm Belgian)
I can try to add them myself, as @rafaelgomesxyz made an easy way to do so.
Or if you're a bit familiar with code you can always do it yourself. ( https://github.com/trakt-tools/universal-trakt-scrobbler#how-to-add-more-streaming-services )

If they're free to watch, I can try to make an account with a VPN.
If not

[2021-09-27 12:21] ITSYV commented on #87
Hi Tom

If you're able to code, you can easily add services yourself:
https://github.com/trakt-tools/universal-trakt-scrobbler#how-to-add-more-streaming-services

I just tried making an account with a VPN, but I seem to need a license to watch.
If you're not able to add the service yourself, can you provide a temporary login?

[2021-09-27 13:18] tomhusband commented on #87
Thanks but I no longer use Trakt. I didn't find it very useful for the limited amount of shows I watch.

[2021-09-27 13:18] #87 closed, assigned to nobody

[2021-09-29 09:37] husk007 commented on #103
Hi,
Services:
https://player.pl/
https://polsatboxgo.pl/
are free to watch if you're a Polish resident. Use VPN and register.
https://hbogo.pl/ requires a paid subscription and you must log in from Poland.
As for your question if I am familiar with  code, not completely, but there is no obstacle for me to become familiar. I just need time.

At the moment I have a problem with building. Log attache

[2021-09-30 21:18] MrMamen commented on #103
Of some strange reason it looks like your computer thinks the syntax is flow (rather than typescript). I do however see that you run build, while "npm start" should be sufficient. And I assume you have run "npm install" on the most recent commit?

[2021-09-30 21:25] MrMamen commented on #76
@ronilaukkarinen The instructions for creating your own build is found on the Readme-file under development: https://github.com/trakt-tools/universal-trakt-scrobbler#development
nvm in step 5 is not required, but you need to have node/npm installed on your computer: https://nodejs.org/en/download/

[2021-10-01 06:53] husk007 commented on #103
Hi,
I followed the instructions. At first I installed Node 14.18.0. Then I used the command `nvm use 14.18.0`. Then, based on the template, I prepared the `config.json` file. Then just `npm install` and `npm build`. And the result is as you can see .... `npm start` has the same result.

_Edit 29.10.2021_
I started one more time from the begininng and now is the difrend problem.
PS C:\Users\slabusz

[2021-10-01 09:15] rollecode commented on #76
It seems to be instructions for development. What I'd like is to just download a dir or crx and install it. Possible?

[2021-10-11 19:27] husk007 opened #104 "Add new language: Polish"
Hi, I want to help to translate to polish, but I don't see it in crowdin.

[2021-10-12 08:19] MrMamen commented on #104
@rafaelgomesxyz Can you add Polish to Crowdin? I don't seem to have the rights to add new translations.

[2021-10-12 08:29] #86 closed, assigned to rafaelgomesxyz

[2021-10-16 14:49] smoothlystable opened #105 "Sync history added with current date/time instead of watched date/time"
This is probably because Trakt now uses UTC datetime instead of unix time stamp: https://trakt.docs.apiary.io/#reference/sync/add-to-history/add-items-to-watched-history

I did a quick test by sending the same request, but changed `watched_at` to UTC datetime format instead and it worked.

[2021-10-16 15:25] rafaelgomesxyz commented on #104
I'm working on a script to make the process of adding a language more automatic, will see if I can finish it by tomorrow so we can test it here.

[2021-10-19 21:07] MrMamen commented on #105
I belive this is a regression when migrating away from moment on this commit: https://github.com/trakt-tools/universal-trakt-scrobbler/commit/96c248843e2cd99fb8b0a2fd99a47bf107721e19

[2021-10-20 14:38] husk007 commented on #104
How is going with script?

[2021-11-01 20:31] rafaelgomesxyz commented on #104
Some irl stuff got in the way, but I'm almost done.

[2021-11-06 20:30] dm3ch commented on #61
Any updates from Juny?

Do you need any help needed with testing or something else to make release happen?

[2021-11-08 16:07] nadernassif commented on #61
I tried to build the app, tested all the steps until pm run zip but there is no "zip" in the npm run-script file. thus it fails.
Also interested here and willing to test/assist with dev

[2021-11-08 18:19] rafaelgomesxyz commented on #61
Sorry, I've just been busy. I'll try my best to get an update for you guys by the end of the week.

[2021-11-24 03:37] #105 closed, assigned to nobody

[2021-11-27 19:57] dm3ch opened #109 "Streaming service request wakanim.tv"

[2021-12-15 08:10] schteff commented on #64
Now Telia has shut down the classic.teliaplay.se service, so I will try to update the code to use their new API. Unfortunately they have not added any watched timestamp to their data, so that information will be missing as described above. (like HBO).

I might have time to work on it during the holidays.

[2021-12-16 18:28] mariuswg opened #110 "Unable to get to authorize modal - loading forever"
I have problems getting to the login/auth modal. It is stuck on the loading icon...
The original traktflix extension works, but not this one.

Has anyone experienced the same issue?

These are the steps I have done:

1. Cloned the repo
2. npm install
3. Copied to a new file; config.json
4. Created an API in Trakt
5. Filled in the clientId and clientSecret
6. npm run build
7. unzipped the chrome.zi

[2021-12-16 18:37] isleshocky77 commented on #110
I made a comment about this here: https://github.com/trakt-tools/universal-trakt-scrobbler/pull/101#issuecomment-991296107
I was able to get it to work by skipping part of that code.

[2021-12-16 20:35] mariuswg commented on #110
Thanks a lot!
I went back to the commit right before the mentioned PR and it works. I will try to append the commits one by one to check at what point it breaks.

[2021-12-16 20:52] isleshocky77 commented on #110
@mariuswg https://github.com/trakt-tools/universal-trakt-scrobbler/commit/c00a71889ea91e6d8ff07e26b7eeb90419bd4a4d#diff-157d9bdad81d5f369c2d8ebfaa43942873ed98f97586d573e6d01b124d6bfe6b

It's the way it's checking for errors... when you first start it's null so it's not validated.

[2021-12-18 13:26] eRJeeBuch commented on #99
Hi all! Any updates on this? Prime Video EU user here.
ITSYV's version is working just for scrobbling, but history sync is greyed out.

[2021-12-18 21:01] KrisDowns commented on #61
Any update on this? If not it's totally understandable with all the holiday craziness. I can't wait to try it since I'm apparently too dumb to build from the .md instructions.

[2021-12-20 18:34] schteff commented on #64
I have implemented the new Telia Play API connection. But when testing the history sync it seems like the Trakt connection is wonky.

All items on the trakt side are marked as "Not watched" when "Add with release date" is checked even though they are watched (at the Trakt website), and when signing out and in to Trakt again i see an "OAUTH ERROR"-message after login.
When "Add with release date" i

[2021-12-20 18:35] rafaelgomesxyz commented on #110
Thanks for the info, I'll be looking into this soon.

[2021-12-20 18:39] rafaelgomesxyz commented on #64
Will take a look this week.

[2021-12-20 18:41] rafaelgomesxyz commented on #61
I'll be able to work on it for sure this week, since my vacation from work begins, so I'll have plenty of time. Hopefully a release soon.

[2021-12-20 18:42] rafaelgomesxyz commented on #99
Will take a look this week.

[2021-12-20 21:23] MrMamen opened #111 "Item correction visually corrects wrong item"
When correcting an item it always updates the first item in the list, even if the corrected item is not the first item in the list. If corrections are enabled, a page refresh will however assure that the right item was corrected.

[2021-12-22 14:12] husk007 commented on #110
Which part of code and in which file You skipped?

[2021-12-22 15:30] isleshocky77 commented on #110
@husk007

[code]

[2021-12-22 17:42] husk007 commented on #110
@isleshocky77
Still not working... The same problem - stuck on the loading icon.

[2021-12-26 11:49] #110 closed, assigned to nobody

[2021-12-28 22:56] Hillgrove opened #114 "Exactly how do I install this?"
You mention that this is a replacement for Traktflix which you say doesn't work anymore (it does, I use it), but I can't find a way to install it.

You have a "fake" link to the Chrome Web Store but the link only points to github.

[2021-12-29 09:35] schteff commented on #64
Nice fixing #110 , but that was unrelated.

I still cannot fetch the trakt status for items. When clearing everything and signing in to trakt in the addon i get the following message.

![image](https://user-images.githubusercontent.com/2564884/147646735-b85d7a1e-82a7-4a32-98bd-058336c16f4c.png)

Don't know if that is related to my issue though.

I can see calls made to the trakt API in chrome dev

[2021-12-30 12:32] bnowakow commented on #114
Follow Readme: https://github.com/trakt-tools/universal-trakt-scrobbler#development
After doing `npm run build-dev` follow https://webkul.com/blog/how-to-install-the-unpacked-extension-in-chrome/ with extension folder location in `build/chrome` directory.

[2021-12-30 12:36] bnowakow commented on #103
@husk007 you can try `npm run build-dev` instead running `npm run build` and you should be fine.

[2021-12-30 16:48] Hillgrove commented on #114
Ahh.. It's stil in dev it seems. I thought it had been released. My bad. I will be a bit more patient.

[2021-12-30 16:48] #114 closed, assigned to nobody

[2022-01-08 14:23] soufone94 opened #115 "add new support: justwatch"
Hi all,
this a great project, wok fine for netflix
I'm using Trakt and justwatch
i don't know if this request is made before, is it possible to add "https://www.justwatch.com" too?
Thanks

[2022-01-08 20:56] Manfred73 commented on #114
When will there be a first release for this?

[2022-01-10 07:47] smoothlystable opened #116 "BUG: HBO Max not scrobbling + history sync not working - EU"
HBO Max doesn't seem to work for me at all, neither scrobbling or sync.

### When trying to sync history
If I have scrobble disabled and sync enabled in settings, a new tab for play.hbomax.com opens up and I just get stuck with the loading circle on the history page:
![image](https://user-images.githubusercontent.com/20187834/148731327-94dd811d-806a-47e1-bd4f-b5f7af23e4bb.png)

If I have scrobble

[2022-01-12 18:03] iamjabour opened #117 "Allow other regions on PrimeVideos Sync"
Hi, this is a problem with different regions with Primevideos. Allow user to select from [eu,na,fe] options for api url formation.

easy fix but needs user input, attached the list of dns for for the api to resolve the getitem. in my case i need to change AmazonPrimeAPI.js:124 from `API_URL = 'https://atv-ps.primevideo.com';` to `API_URL = 'https://atv-ps-fe.primevideo.com`

and works for me in my

[2022-01-12 18:09] iamjabour commented on #99
Hi @rafaelgomesxyz , workaround here: https://github.com/trakt-tools/universal-trakt-scrobbler/issues/117 ps vpn seems to not matter, looks like is linked to the account registration/pay. Thanks for the extension, looking great!

[2022-01-12 18:51] ITSYV commented on #117
Maybe this can even be automated, the json error outputted when getting the wrong url contains the correct region:
{ "error": "wrong_region", "customer_home_region": "EU" }

[2022-01-13 09:21] bnowakow commented on #117
For sb that want's to replicate it's src/services/amazon-prime/AmazonPrimeApi.ts (not AmazonPrimeAPI.js).

I live in Poland, Europe and when querying https://atv-ps-fe.primevideo.com/cdp/catalog/GetPlaybackResources (...) I still get {"error": "wrong_region", "customer_home_region": "EU"}

[2022-01-13 09:26] bnowakow commented on #117
Nice. Changing API_URL = 'https://atv-ps-eu.primevideo.com'; has helped in Poland, Europe - thx!

[2022-01-13 16:42] eRJeeBuch commented on #117
For Prime Video Netherlands this link also work! Great work all, much appriciated!

[2022-01-13 16:52] eRJeeBuch opened #118 "History suddenly doesn't work anymore - no more data from streaming service (movie or series deleted)"
Error:

https://user-images.githubusercontent.com/66549251/149373189-cc49ff48-af62-44cc-b734-c0022c45e578.jpg

[UTS] Failed to load history. TypeError: Cannot read properties of undefined (reading 'season')

Context
history.html#/netflix
Stack-tracering
history.js:52766 (error)
history.js:48170 (_callee$)
history.js:112146 (tryCatch)
history.js:112377 (invoke)
history.js:112202 (anonieme functie)

[2022-01-13 19:55] ITSYV commented on #118
Not sure, but still working in Belgium
Do you get the same result when clearing cache & removing data?
Can you check your recent viewing activity on Netflix (https://www.netflix.com/viewingactivity). Is there something different since you get this error? Maybe a show or movie which doesn't have all the data

[2022-01-13 21:30] ITSYV commented on #117
Is the correct data retrieved when you change the url to the eu server?
I just tried this, and though it states my profile is selected, it doesn't seem to load my history but instead it seems to retrieve the history of the main user.

@MrMamen @rafaelgomesxyz is this another bug?

[2022-01-14 01:31] ITSYV commented on #109
#119
There you go :)

[2022-01-14 03:16] ITSYV commented on #103
Player.pl added, if I have the time tomorrow, i'll check out polsatboxgo.pl. Don't have an account for HBO
#119

[2022-01-14 07:01] bnowakow commented on #117
I'm using one profile on prime, maybe because of that I didn't observe this behaviour.

[2022-01-14 07:03] MrMamen commented on #117
@rafaelgomesxyz lives outside Europe, perhaps he can debug.

[2022-01-14 13:47] dm3ch commented on #109
@ITSYV Thank you. I would test it on weekends

[2022-01-14 16:44] eRJeeBuch commented on #118
Definitely something with a show or movie. One of the other profile's just load.

So next step is: How can I check if a show or movie doesn't have all the data?

[2022-01-15 11:17] eRJeeBuch commented on #118
So I found out that when a serie or movie isn't available anymore on the streaming service (in this particular case Prison Break on Netflix NL), the above error occurs. So I deleted it from the viewing activity and now synchronises.

[2022-01-15 21:22] ITSYV commented on #118
Can we reopen this as a bug? @MrMamen

[2022-01-17 19:33] ITSYV commented on #103
#119 HBO Go added ! Only scrobbling for the moment. Didn't find any history data
I can't seem to get Polsat Box working with my VPN (i don't get any data when using it) and can't open any series or movies without the vpn

[2022-01-17 23:07] MrMamen commented on #115
Isn't Just Watch just a catalog of links to different streaming services?

[2022-01-17 23:12] MrMamen commented on #116
I believe this is a bug in Chrome (not Firefox) where all injection scripts to tabs fail. I've been trying to debug and figuring a different way, but I have not succeed. Perhaps @rafaelgomesxyz or any other with experience with injection can help.

[2022-01-18 00:24] ITSYV commented on #116
Can't a DOM fallback work? I was trying this, but the site won't seem to load anymore for me (using a vpn for US).

I was trying to use this code:
`const titleElement = document.querySelector('[role=heading]');
		// aria-label="Euphoria Season 1 Episode 1: Pilot"
		const matches = /(.+) Season (\d+) Episode (\d+): (.+)/.exec(titleElement?.getAttribute('aria-label') ?? '');

		if (matches) {
			[,

[2022-01-18 12:05] gordongessler commented on #104
Any updates?

[2022-01-19 14:21] soufone94 commented on #115
Hi MrMamen,
you'r right, it is like trakt with direct link to streaming services.
i use both Trakt and JustWatch, if can sync thier status it will be very helpful :)
Thanks

[2022-01-23 14:15] marcovecchione opened #120 "Add new language: Italian"
Add Italian translation

[2022-01-28 08:24] MrMamen commented on #115
I feel that this is currently out of scope for this project. While I see that it could be nice to sync several places, like justwatch, and imdb, I don't think this is the main focus as of now.

[2022-01-28 11:02] soufone94 commented on #115
I understand that it will be additional workload.
I hope such integration can be in your nice to have list :)

[2022-02-03 22:05] ITSYV commented on #109
@dm3ch can you verify this and close this issue if it works? :)

[2022-02-03 22:43] dm3ch commented on #109
TY. I haven't yet found enough time to build the project myself to test. But I would try to find time for that.

[2022-02-05 14:07] husk007 opened #121 "Paramount+ support"
Hi,
Is there any chance to support Paramout +?

This is what the exemple direct address for the video looks like:
https://www.paramountplus.com/movies/clifford-the-big-red-dog/x7WBZ4vYuARG7ARSjoYK7cTmY3Gh6xj6/

This is the exemple direct address for serials:
Season 4, Episode 2:
https://www.paramountplus.com/shows/star-trek-discovery/video/f2q3_mF9wdShnIMJNFgOnNGy1EwUt3Ix/star-trek-discovery-anoma

[2022-02-08 14:59] profucius commented on #76
The links to the Chrome and Firefox addon stores on the main github page are confusing, both of them produce a 404 error. A disclaimer should be added above those two images that there is no official release yet, or remove the two images entirely until there is a release.

[2022-02-08 19:41] profucius opened #122 "Amazon Prime Video history page never loads, popup incorrect"
I have built, tested and used the chrome extension for Netflix history, this is working properly. However when I click on the History icon for Amazon Prime Video, it loads two new tabs, one for the extension and one for prime video profile.

`chrome-extension://ckbdjkimpfiockafkkhhideggkafeopj/history.html#/amazon-prime`
`https://www.primevideo.com/settings?ref_=av_auth_return_redir`

The first ta

[2022-02-10 15:55] profucius commented on #122
Update: I dug into the src files (universal-trakt-scrobbler\src\services\amazon-prime\AmazonPrimeApi.ts) and this is on line 124

`API_URL` = `'https://atv-ps.primevideo.com';`

However, going to that URL manually in a browser tab it produces a "HTTP ERROR 404" error. Perhaps this URL is no longer valid?

![image](https://user-images.githubusercontent.com/18254607/153446886-e9741724-b46c-4d79-91b8

[2022-02-10 22:30] MrMamen commented on #122
This is likely related to #117

[2022-02-11 14:53] profucius commented on #117
I live in NA region. and I did some testing on this on my own #122 . It seems these may or at not be related, as I cannot get the extension to respond to the amazon prime API, even when changing it out to some other options from the OP in this thread.

[2022-02-13 13:26] #111 closed, assigned to nobody

[2022-02-28 19:08] gpmnsp opened #124 "How to"
I'd like to add this to my FF.
There seem to be zero instructions how to do this.
And no, I am not a 'developer'- is this a requirement, though?
Just wondering. Any help appreciated.
PS: The FF addon button leads to nowhere (404)

[2022-02-28 21:26] BartekDobrowolskiNowakowskiTR commented on #124
Try following https://github.com/trakt-tools/universal-trakt-scrobbler/issues/114

[2022-02-28 21:29] Starminder commented on #124
You just pointed #114 to #124, and #124 back to #114.  :/

[2022-02-28 22:41] gpmnsp commented on #124
@Starminder
Yes. It's so and it's a pity.
I don't get it why  someone serious would do such a thing.
Not a way to promote. in my thinkin.

[2022-02-28 23:09] rafaelgomesxyz commented on #124
Hi. I was holding out on releasing it because I wanted to do some changes first, but I've been quite busy lately, so I haven't had the time. But I decided to just release it and do those changes later.

I've sent the app for review. Once it's approved, I'll release it in the Chrome and Firefox stores. Hopefully that happens before the end of the week.

[2022-03-04 10:40] LeviSnoot commented on #116
Getting the same error on v1.0.0-beta. It can be replicated on both Firefox and Chrome.

https://user-images.githubusercontent.com/13402525/156748284-ed841ce8-6e01-44ab-9fe3-dc773c8ee588.mp4

[2022-03-04 17:37] #104 closed, assigned to rafaelgomesxyz

[2022-03-04 17:39] #120 closed, assigned to nobody

[2022-03-04 17:42] rafaelgomesxyz commented on #104
Finally finished the script, sorry it took so long.

[2022-03-05 23:24] sla-te commented on #117
I live in DE and the only way to partly get it to work is changing HOST_URL to https://www.amazon.de API_URL to https://atv-ps-eu.amazon.de and SETTINGS_URL to ${this.HOST_URL}/gp/video/settings but all the names are on german now and, so it does not find a lot of them on trakt. I also changed homePage and hostPatterns in AmazonPrimeService.ts to amazon.de..

[2022-03-07 01:44] rafaelgomesxyz commented on #122
Closing as duplicate of #99.

[2022-03-07 01:44] #122 closed, assigned to nobody

[2022-03-07 01:45] rafaelgomesxyz commented on #117
Closing as duplicate of #99.

[2022-03-07 01:45] #117 closed, assigned to nobody

[2022-03-07 01:48] rafaelgomesxyz commented on #76
Closing as duplicate of #61.

You can now download the built zip file for the extension and load it manually from here: https://github.com/trakt-tools/universal-trakt-scrobbler/releases/tag/1.0.0-beta

I'm waiting for the extension to be approved to upload it to the Chrome and Firefox stores.

[2022-03-07 01:48] #76 closed, assigned to nobody

[2022-03-07 01:48] rafaelgomesxyz commented on #124
Closing as duplicate of #61.

You can now download the built zip file for the extension and load it manually from here: https://github.com/trakt-tools/universal-trakt-scrobbler/releases/tag/1.0.0-beta

I'm waiting for the extension to be approved to upload it to the Chrome and Firefox stores.

[2022-03-07 01:48] #124 closed, assigned to nobody

[2022-03-07 01:54] rafaelgomesxyz commented on #102
In what sense is it incorrect? Like it scrobbles with the wrong progress?

[2022-03-07 02:15] ITSYV commented on #102
@rafaelgomesxyz Sometimes lagging behind 1 or more episodes.
I am using an extension "video speed controller" on chrome/brave

[2022-03-07 02:25] profucius commented on #122
This would seem like a duplicate ticket, however it is not; I am in a different region than the ticket you referenced. I tried the URL in that ticket and it does _not_ work for me. I am in the North America region.

What needs to be done differently for my region?

[2022-03-07 13:20] #116 closed, assigned to rafaelgomesxyz

[2022-03-07 16:08] rafaelgomesxyz commented on #122
I mean, it's still about Prime not working in a region, so the fix should be the same for both. I'll take a look into it later today and will let you know what I find.

[2022-03-08 09:35] schteff commented on #64
I don't personally use Telia Play anymore since HBO Nordic (which was a part of Telia Play) became HBO Max (which is a separate service).

You can remove all Telia Play code if you want. Or would you appreciate if I did it? :)

[2022-03-08 11:33] rafaelgomesxyz commented on #64
Is the old way still working? If it is, it's ok to keep it. If not, go ahead and remove it if you want.

[2022-03-08 15:56] schteff commented on #64
No it's completely broken. I made an effort back in august to update it to the new API, but the auth was too complicated and the new API is still missing any "watched timestamp"-information.

I have made a pull request to remove it.

[2022-03-08 15:56] #64 closed, assigned to nobody

[2022-03-11 13:55] rafaelgomesxyz commented on #117
@iamjabour Can you post what you get when going here: https://atv-ps.primevideo.com/cdp/catalog/GetPlaybackResources?asin=amzn1.dv.gti.1eb29f5a-8c64-d2a4-d3c0-3ea3d4881b14&consumptionType=Streaming&desiredResources=CatalogMetadata&deviceID=893a1a327cc0f9500d366ae5b893590360d1253c0a5cdf83b0253b82&deviceTypeID=AOAGZA014O5RE&firmware=1&gascEnabled=true&resourceUsage=CacheResources&videoMaterialType=F

[2022-03-11 19:58] Richigeht commented on #99
Hi,
Amazon doesn't even allow me to use the primevideo.com address - I need to go to the amazon.de site.
If I can help with testing (if this got fixed) let me know. Thanks!

[2022-03-11 21:21] MrMamen commented on #117
When I call this I get:
`{ "error": "wrong_region", "customer_home_region": "EU" }`

[2022-03-11 21:22] ITSYV commented on #117
Same error for me here in Belgium

[2022-03-11 21:35] rafaelgomesxyz commented on #117
Yeah, I wanted to see what it says for @iamjabour because he says `atv-ps-fe` works for him. I know `atv-ps` works for `NA` and `atv-ps-eu` works for `EU`, so not sure what's the `customer_home_region` that `atv-ps-fe` works for.

[2022-03-11 21:49] smoothlystable opened #133 "HBO Max: History item url fails to load, breaking history sync"
I'm getting "Failed to load history" when trying to sync HBO Max history.

Status 500 when trying to request one of the endpoints for a movie, the response is:
`{"message":"An unknown problem occurred. Please contact your TV provider.","statusCode":500}`

I looked up what the URL looks like for when browsing the webpage normally, and it seems that what's breaking it is the missing of the following

[2022-03-11 21:53] ITSYV commented on #117
It seems atv-ps-fe also has a .co.jp domain.
Sooo, i just tested with a VPN with "Japan" and got this error: "{ "error": "wrong_region", "customer_home_region": "FE" }" 😉

[2022-03-11 21:56] rafaelgomesxyz commented on #117
Thank you!

[2022-03-11 21:58] rafaelgomesxyz commented on #133
Thanks for the info.

Looks like different regions have different params, because in my region it works without the additional params.

[2022-03-11 21:59] ITSYV commented on #117
A google result gave me the next info:
atv-ps: .com
atv-ps-eu: .co.uk and .de
atv-ps-fe: .co.jp

and that's for the "amazon.tld" domain

[2022-03-11 22:08] rafaelgomesxyz commented on #117
Yeah, I found something in the script for the Prime page that should help with the domains:

[code]

[2022-03-12 00:27] profucius commented on #117
I get this (NA region):

`{"errorsByResource":{"CatalogMetadata":{"errorCode":"PRS.Dependency","message":"Cannot complete request.","type":"PRSDependencyException"}},"returnedTitleRendition":{"asin":"amzn1.dv.gti.1eb29f5a-8c64-d2a4-d3c0-3ea3d4881b14","assetBundleVideoQuality":"HD","audioQuality":"Stereo","contentId":"amzn1.dv.vcid.99f79bd4-d740-46da-bbbf-6a309206383c","selectedEntitlement":{"right

[2022-03-12 01:05] rafaelgomesxyz commented on #117
@profucius Can you check the network requests in the console while hitting play on something and looking for any requests to `GetPlaybackResources`? Then if you could post the URL that was requested, that would be really helpful.

[2022-03-12 16:04] profucius commented on #117
I tried looking for that in my console by using the filter, but found no reference to that while playing a video. Is there something else I can try, some other browser, or any other information?

[2022-03-12 16:22] rafaelgomesxyz commented on #117
It has to be before you click the play button on an episode/movie from the homepage. And the network tab has to be open before you do that, otherwise it won't log. If there's still no requests, try filtering by "Fetch/XHR" and seeing if any of the requests are retrieving information about the title.

[2022-03-12 17:42] smoothlystable commented on #133
It's weird though, because it doesn't seem to be consistent. That URL works now, but instead another URL (https://comet-emea.api.hbo.com/express-content/urn:hbo:feature:GXnEEqw6S3A4eoAEAABiR?device-code=desktop&product-code=hboMax&api-version=v9.0&country-code=US&language=en-us) isn't working, adding params still does the trick though.

So what's consistent is:
* Every time I open the history sync

[2022-03-13 04:59] iamjabour commented on #117
@rafaelgomesxyz , sorry for delay response. I get this:
{ "error": "wrong_region", "customer_home_region": "FE" }

In in NZ. So maybe the Asia region is FE

[2022-03-13 15:34] #46 closed, assigned to rafaelgomesxyz

[2022-03-15 08:06] fiveoone opened #141 "Syncing history Netflix stuck / crashing"
Syncing my Netflix history to Trakt stuck when reaching a high amount and old items. No matter how long I wait, the screen stays like in the attached screenshot:

<img width="1124" alt="Screenshot 2022-03-15 at 09 03 51" src="https://user-images.githubusercontent.com/65599017/158332771-3bf1a08e-2c49-46a2-be76-0f69fd75f3fe.png">

The only solution I found so far is to disable 'hide synced', and car

[2022-03-15 14:37] MrMamen commented on #141
Can you open devtools on history page before the error occurs (you can do this before you select the Netflix-service to be sure) and see if there are errors messages in the console?

[2022-03-15 15:07] rafaelgomesxyz commented on #141
Additionally, you could also enable Rollbar in the options so that we can receive any errors you're getting.

[2022-03-15 16:47] fiveoone commented on #141
I think I did it the right way. I enabled 'Inspect' then Console and tried again, Netflix > Hide Synced > Waited for it to hide my synced one, then get a crash and I'm back to choosing Netflix as a service. This is the error output:

[ehlckfimahifadnbecobagimllmbdmde-1647362731573.log](https://github.com/trakt-tools/universal-trakt-scrobbler/files/8255486/ehlckfimahifadnbecobagimllmbdmde-164736273

[2022-03-15 18:25] rafaelgomesxyz commented on #141
I think this is most likely because of the Netflix bug that was fixed in #136. I've deployed a new beta version, please try it and see if it still happens.

[2022-03-15 20:56] fiveoone commented on #141
Awesome, I'm sorry but I have no clue how to get the new beta version to work. I've downloaded the chrome.zip from this: https://github.com/trakt-tools/universal-trakt-scrobbler/releases/tag/beta but I think the zip file is corrupted (doesn't unzip on my Mac)

Am I downloading the correct file?

[2022-03-15 21:12] rafaelgomesxyz commented on #141
You're right, looks like it's corrupt. Will see if I can fix it later.

[2022-03-15 21:14] fiveoone commented on #141
All good no stress - I will check it tomorrow!

Thanks for all the help, I love the plugin otherwise.. so happy it exists!

[2022-03-16 19:13] rafaelgomesxyz opened #147 "v1 Release"
v1 is set to release as soon as the following are taken care of:

**Update:** For v1, our focus will be getting it ready for Manifest v3, everything else we'll handle later, otherwise this extension will never be released. 😅

- [x] https://github.com/trakt-tools/universal-trakt-scrobbler/issues/156
- [ ] Create new logo to differentiate from traktflix

For after v1 is released:

- [ ] Fix Amazon P

[2022-03-17 20:50] bart268 opened #148 "Viaplay not working"
I am glad I found this trakt Scrobbler, awesome work.

I have it running with Netflix and HBO Max, only thing I don't get Viaplay to work. When I try to sync Viaplay I get this error:

===
Not Logged In
Looks like you're not logged in to this service. Please go to the page below and log in before trying to sync.

https://viaplay.com/

===

When I click the link, it opens Viaplay where I am logged

[2022-03-18 05:44] MrMamen commented on #148
What is the url to Viaplay in your region?

[2022-03-18 06:16] bart268 commented on #148
The login page: https://viaplay.com/nl-nl/
After login: https://viaplay.com/

[2022-03-18 07:41] ilkersigirci opened #149 "Trakt Watched Status Bug"
In the Sync section of the extension, some of my watched items in trakt shown as not watched. The extension successfully finds the correct episodes but it seems unable to find correct watched status. Btw, this doesn't happen to all episodes. For example, the watched status of the episode S2E21 is right but S2E20 is wrong

![Screenshot from 2022-03-18 10-39-01](https://user-images.githubusercontent

[2022-03-18 22:21] MrMamen commented on #149
Do the date/time as displayed on Netflix (as seen on the extension) match the ones on trakt?

[2022-03-18 22:28] MrMamen commented on #148
In my region I can see my watch history on this URL:
https://viaplay.no/watched

In the developer tool I can see that it calls this URL to fetch the data:
https://content.viaplay.no/pcdash-no/watched?nextMediaGuid=20455732&nextTimestamp=1589310939561&profileId=E7CA2512C12

Could you provide me with your URL for watch data?

[2022-03-18 22:31] ilkersigirci commented on #149
Yes, they do

[2022-03-18 22:35] rafaelgomesxyz commented on #149
Hm, the way that it matches synced items is by either the exact date or a 26-hour difference. What is the time for the watched episode on Trakt?

[2022-03-18 22:39] ilkersigirci commented on #149
It is more than 26 hours. But I don't understand about this restriction. If the episode is seen as watched in trakt, I thought it should have synced without any conflict

[2022-03-18 22:45] rafaelgomesxyz commented on #149
It's because you can watch something more than once, so the 26 hour limit makes it more accurate (it's 26 hours because the largest timezone difference between 2 countries is 26 hours, but it's pretty much 1 day).

We can see about maybe removing it, or making it an option.

@MrMamen Thoughts?

[2022-03-18 22:46] ilkersigirci commented on #149
I understand. I think it would be much better if this settings comes an option

[2022-03-18 22:49] MrMamen commented on #149
i think it is a good idea to be able to sync rewatches. But I suppose it would be possible to get the trakt-card as a list. This way you could see both. There is a big problem with history items on almost all streaming services where they overwrite progress/date if you hit play again.

[2022-03-19 07:30] bart268 commented on #148
I am not fully into the browser development tools but I think this is it.
https://viaplay.com/watched

https://content.viaplay.com/pcdash-nl/watched?profileId=IZmnbwWapGd9m7EKXgqYniIddQabTW17&language=nl

When I open this last URL I get the watched page in something like json. Looking in that data I can see this URL:
https://content.viaplay.com/pcdash-nl/watched?nextMediaGuid=20717488&nextTimestam

[2022-03-20 22:08] netcaretx opened #151 "History Amazon Prime US Not Working"
When you go to history amazon prime in the US, says you are not logged into:
https://www.primevideo.com/

But that URL gets redirected to:
https://www.amazon.com/Amazon-Video/b/?&node=2858778011&redirectToCMP=1
For Example

This is my URL for watch history:
https://www.amazon.com/gp/video/settings/watch-history/ref=atv_set_watch-history

Sorry meant to label as a bug but didn't figure it out.

[2022-03-20 22:16] netcaretx commented on #133
For me in the US I get the first nine items only. I really wish it was more is that normal?

[2022-03-21 13:04] MrMamen commented on #151
I believe this is duplicate of #117 and #99

[2022-03-21 13:04] #151 closed, assigned to trakt-tools-bot

[2022-03-21 18:21] bart268 commented on #148
I did build the extension with the changes you made. The redirect goes to https://viaplay.com/nl-nl which let me login, however everytime I click the link to sync viaplay history I get logged out again?
If I don't click the link to sync viaplay I can restart the browser without getting logged out.

[2022-03-21 20:44] MrMamen commented on #148
Then I haven't been able to fix the issue. On the extension page in chrome (where you install extenstions) could you click on "background" page to open DevTools, and click on the Network-tab. Then try to sync viaplay. See if any of the requests turns red in DevTools. The two I would expect should be something like this:
https://login.viaplay.no/api/persistentLogin/v1?deviceKey=pcdash-no
https://co

[2022-03-22 06:29] bart268 commented on #148
When I check de devtools, this URL is requested (no other URL's):
https://login.viaplay.com/api/persistentLogin/v1?deviceKey=pcdash-com

This is on that page:
{"success":false,"type":"InvalidDeviceKeyCountryError","name":"InvalidDeviceKeyCountryError","code":3001,"statusCode":400,"message":"Incorrect country code in device key: com. Extracted from deviceKey: pcdash-com"}

When I manually enter thi

[2022-03-22 06:44] MrMamen commented on #148
Ahh. It's supposed to be https://login.viaplay.com/api/persistentLogin/v1?deviceKey=pcdash-nl I guess. I'll see if I can fix that.

[2022-03-22 16:12] bart268 commented on #148
I did a quick change to set my region but not sure if I need to change more, probably...

this.API_BASE_URL = `${this.HOST_URL}pcdash-${region}/`;
this.AUTH_URL = `https://login.${host}/api/persistentLogin/v1?deviceKey=pcdash-${region}`;
to
this.API_BASE_URL = `${this.HOST_URL}pcdash-nl/`;
this.AUTH_URL = `https://login.${host}/api/persistentLogin/v1?deviceKey=pcdash-nl`;

The developer tools now

[2022-03-22 17:19] bart268 commented on #148
Ok, got it to work.

This is the change I made, I know, this works only for my region but here stops my programming skills...
this.API_BASE_URL = ${this.HOST_URL}pcdash-${region}/;
this.AUTH_URL = https://login.${host}/api/persistentLogin/v1?deviceKey=pcdash-${region};
to
this.API_BASE_URL = ${this.HOST_URL}pcdash-nl/;
this.AUTH_URL = https://login.${host}/api/persistentLogin/v1?deviceKey=pcdash-n

[2022-03-22 22:33] MrMamen commented on #148
Can you please retry my branch again? You have to revert your fix and pull my latest changes. The only addition is some debug information. Could you please open dev tools on the history page (before you chose viaplay) It supposed to look like this:
[code]

Please post this, as well as the values in viaplayURL.
Edit: also fixed the problem with missing profile name

[2022-03-23 06:23] bart268 commented on #148
host viaplay.com
pathname /watching
region com

[2022-03-23 06:42] MrMamen commented on #148
Is this while scrobling? Or history sync? Could you try both?

[2022-03-23 07:00] MrMamen commented on #148
It's strange that you get redirected to /watching

[2022-03-23 16:41] bart268 commented on #148
Maybe I had some caching issues with the /watched path, what I get right now (when using history sync).

When I am logged in to viaplay in another tab and click Viaplay on the history sync button:
(this means I get logged out immediately when I click the link)
host viaplay.com
pathname /
region com

When I am not logged in to viaplay and click Viaplay on the history sync button:
host viaplay.com
p

[2022-03-23 17:54] bart268 commented on #148
I suppose the difference in pathname / region is because of the following.

When I am not logged in to viaplay and open https://viaplay.com I get redirected to https://viaplay.com/nl-nl/ After I hit the login button I get redirected to https://viaplay.com without nl-nl.
When I am logged in to viaplay and go to https://viaplay.com then I am not redirected anymore.

[2022-03-23 17:58] MrMamen commented on #148
Hmm. Thanks for the info. Not really sure how to handle that case. I have to find the region in a different way than simply parsing an URL.

[2022-03-23 18:03] bart268 commented on #148
It might be possible however I don't really know how..

Step 1 when I am not logged in seems fine, this gives the right region.
Step 2 read https://login.viaplay.com/api/persistentLogin/v1?deviceKey=pcdash-nl, this gives "accountCountry":"NL"

But that some brainstorm stuff easier said then done...

Or something like extra settings for viaplay to manually configure your region.

[2022-03-23 18:09] MrMamen commented on #148
Not being logged in is really the exception. The url you posted already contains -nl at the end.

[2022-03-23 18:22] MrMamen commented on #148
What happens if you visit https://viaplay.com/us-en

[2022-03-23 18:29] bart268 commented on #148
If I am logged in I get redirected to local content. If I am not logged in I see the US page without a login option.

[2022-03-23 18:59] bart268 commented on #148
I might have found something...
When I go to https://viaplay.com/requirements I am always redirected to https://viaplay.com/nl-nl/requirements

[2022-03-23 22:10] MrMamen commented on #148
Thanks for figuring this out. I believe I have a working region determination now.

[2022-03-24 06:46] bart268 commented on #148
Did a quick check, got a new error now. Not sure if this is something else but if I have time this evening I will clear all caches etc.

When I check in dev tools, nothing is happening on network side, only got some console output.

history.js:2 Current storage version: v8
history.js:200 host viaplay.com
history.js:2

       [UTS] Failed to load history. TypeError: e.EpisodeItem is not a construct

[2022-03-24 07:07] MrMamen commented on #148
I think you forgot to pull the latest version and/or update. The log-statements should not be there anymore. Also I pulled in some updates from master, with updates on package.json (so you should run `npm install`)

[2022-03-24 19:08] bart268 commented on #148
You were right I was rushing it, seems to be working now 🙂
There is just one more log rule left, rule#117 - console.log('host', host);

One more thing, region selection with scrobbling is not working. Whenever I watch something I get logged out from viaplay.
Last time I checked it did a lookup to https://login.viaplay.com/api/persistentLogin/v1?deviceKey=pcdash-et which should be https://login.via

[2022-03-24 19:38] MrMamen commented on #148
Oh. When scrobling, the url doesn't contain region?

[2022-03-24 19:44] bart268 commented on #148
I see one URL which causes a viaplay logout
https://login.viaplay.com/api/persistentLogin/v1?deviceKey=pcdash-et
I have also seen a URL which ended with something like -ow or something.

[2022-03-24 19:46] MrMamen commented on #148
Right. But what is a typical url when playing an episode or movie?

[2022-03-24 19:54] bart268 commented on #148
Something like https://viaplay.com/player/default/series/shield-the/season-1/episode-1

This example spams the developer tools with this URL:
https://login.viaplay.com/api/persistentLogin/v1?deviceKey=pcdash-ld

And this example: https://viaplay.com/player/default/series/power/season-5/episode-6
Then this URL is accessed: https://login.viaplay.com/api/persistentLogin/v1?deviceKey=pcdash-on

[2022-03-24 20:00] MrMamen commented on #148
Yeah. I assumed nl-nl would be in the url, so the region extraction fails miserably. I'll have to make sure it doesn't break, even if I can't determine the correct region.

[2022-03-24 21:30] MrMamen commented on #148
I believe I found a way to detect region also when scrobbling. Could you please test?

[2022-03-25 06:26] bart268 commented on #148
Doesn't seem to work however the URL changed.
Tested again with - https://viaplay.com/player/default/series/shield-the/season-1/episode-1

This URL is called - https://login.viaplay.com/api/persistentLogin/v1?deviceKey=pcdash-com

[2022-03-25 08:09] MrMamen commented on #148
Right. I forgot something important. :-( But once more I believe I have solved the issue. If it doesn't work this time I think scrobling has to be deactivated. It is far less important than history sync in my opinion.

[2022-03-25 15:23] bart268 commented on #148
Very nice, history sync and scrobble are both working now!

Much appreciated

[2022-03-25 19:40] tmowbrey opened #153 "Netflix - Not Identifying Season when name is Series"
Hello,

I noticed that for some collections, the term Series is used instead of Season (See The Midwife - https://www.netflix.com/title/70245163).

I think this has to do with the Netflix API (https://github.com/trakt-tools/universal-trakt-scrobbler/blob/master/src/services/netflix/NetflixApi.ts) on line 263 (const isCollection = !historyItem.seasonDescriptor.includes('Season');) is referencing a

[2022-03-26 17:37] #148 closed, assigned to nobody

[2022-03-30 15:13] x5nder commented on #99
Was this ever resolved? I'm having the same issue. Just installed this extension, tried to sync my Prime Video history, but the page just shows blank information even though it's logged into the correct profile, according to the header.

Chrome Console gives me a bunch of errors like these:
`history.js:2 [UTS] Failed to get item. Error: {"request":{"url":"https://atv-ps.primevideo.com/cdp/catalog/

[2022-03-30 15:14] x5nder commented on #99
& same for HBO Max, again showing correct service + profile in the title bar, but:

`[UTS] Failed to get item. Error: {"request":{"url":"https://comet-emea.api.hbo.com/express-content/urn:hbo:episode:GYfiXdgqE4w6PtAEAAAC8?device-code=desktop&product-code=hboMax&api-version=v9.0&country-code=US&language=en-us","method":"GET","withHeaders":{},"withRateLimit":{"id":"default","maxRPS":{"*":2}}},"statu

[2022-04-02 16:38] Richigeht commented on #99
I also got issues - it does start with Netflix scrobbling but crashes - and Prime crashes straight away.

[2022-04-06 23:39] cinnamennen opened #154 "Failed to correct item. Error: QUOTA_BYTES_PER_ITEM quota exceeded"
When trying to correct a sync item from Netflix, this error is getting thrown. I am pretty deep into my Netflix history, so perhaps it's a size issue?

[2022-04-07 18:54] rafaelgomesxyz commented on #154
It's the browser sync storage. Corrected items are stored there so that they're synced across devices, but it has a few restrictions, so we'll have to adjust for those.

[2022-04-14 10:20] Hillgrove opened #155 "Viaplay - Wrong profile"
When trying to scrobble (manually) from Viaplay it selects the wrong profile (the owner).

I'm logged into my own profile but I can't change it.

If I hover over the:

"History for Viaplay, profile: <insert name>"

it says:

"... swich profiles in the service page"

Where exactly is this "service page" ?

[2022-04-19 08:52] MrMamen opened #156 "Update to manifest v3"
Manifest v2 is deprecated and no longer accepted for releases:
https://developer.chrome.com/blog/mv2-transition/

This rewrite is required for #147

[2022-04-19 21:11] MrMamen commented on #155
I can't find a way to use the API which reveals what user profile is selected, or even list all available profiles. So currently this only works with owner/main user.

[2022-04-19 21:14] rafaelgomesxyz commented on #156
This will be a bit of a problem because of how we use the background page at the moment, but I'll try to figure something out.

[2022-04-19 22:00] MrMamen opened #157 "Cache bug in history sync"
I've found a rare bug where history sync fails to find an finished item due to cache. The issue is that a cached "progress" value prevents the item from syncing. Since the item is cached the new updated progress value is never read.

[2022-04-21 07:12] ArslanAmeer commented on #117
I have updated `API-URL: https://atv-ps.primevideo.com/` to `API-URL: https://atv-ps-eu.primevideo.com/` in amazon-prime.js, history.js, background.js files.
Reloading extension after update fix my issue.

[2022-04-21 16:53] profucius commented on #117
I have tried the above solution by ArslanAmeer, and it did not work for me. The same issue persists:

Load Extension Options > Enable Sync on Amazon prime > Click "go to history page" > Two tabs open > One is amazon prime video settings page, the other is a black background with a spinning wheel in the middle, which continues spinning indefinitely with no other data on the page.

I detailed all of

[2022-04-21 16:55] profucius commented on #122
I have commented within #117 about this issue, although I am not sure they are the same, as mine is specifically about USA region, not EU.

[2022-04-21 17:15] rafaelgomesxyz commented on #117
I'll try to finally take a look this weekend.

[2022-04-22 05:39] ArslanAmeer commented on #117
Try removing Extension first, then updating files and reload extension again. Make sure you open Amazon Prime in chrome.

[2022-04-22 05:46] profucius commented on #117
I have done this multiple times, no change. Using chrome already.

[2022-04-22 16:27] ktpires opened #158 "Error loading manifest.json"
When I try to install in chrome Versión 100.0.4896.127 (Build oficial) (x86_64), I am receiving this error:

~/universal-trakt-scrobbler-master
Error
Falta el archivo de manifiesto o no se puede leer
No se ha podido cargar el archivo de manifiesto.

Error
The manifest file is missing or cannot be read.
The manifest file could not be loaded.

I try to unzip from beta and master tags, but I receive

[2022-04-24 05:42] mwillacey71 commented on #117
Is there a way to change the site the extension uses for prime? I'm a NA user but it keeps going to primevideo.com

[2022-04-24 07:19] bnowakow commented on #117
you can change it manually in source https://github.com/trakt-tools/universal-trakt-scrobbler/issues/117#issuecomment-1011950901

[2022-05-15 15:02] tunisiano187 commented on #99
Same here

[2022-05-19 19:31] fiveoone commented on #133
Still have issues with HBO Max in The Netherlands. My history doesn't show any items whatsoever and therefore it can't sync either. I'm using Beta (2022-03-27T20:51:11.241Z) from https://github.com/trakt-tools/universal-trakt-scrobbler/releases/tag/beta -- anything I can do to check it? Netflix seem to be working great at the moment!

[2022-05-22 12:41] rafaelgomesxyz commented on #158
Are there any more details about the error? It seems to be loading fine for me.

[2022-05-22 15:22] rafaelgomesxyz commented on #117
Finally made a PR for it: https://github.com/trakt-tools/universal-trakt-scrobbler/pull/160

If some of you from NA/EU/JP could test the `.zip` files I provided in the PR and see if it works for both scrobbling and syncing, I'd appreciate it.

@profucius Your case might need something else, but let me know if this works for you.

[2022-05-22 16:09] rafaelgomesxyz commented on #102
I think it was actually a critical bug that I found that was using the wrong ID for episodes on Netflix (it was using the ID for the show instead). So if you watched an episode and within 45 minutes watched another episode from the same show, it would still scrobble the previous episode, since they had the same ID. The reason why no one else aside from you appears to be experiencing this issue (ot

[2022-05-22 16:22] rafaelgomesxyz commented on #141
Hello, any updates?

[2022-05-22 16:25] rafaelgomesxyz commented on #118
Ooh, I think this explains the bug that was happening where some Netflix items didn't have a `summary` prop: https://github.com/trakt-tools/universal-trakt-scrobbler/pull/136

I had gotten the exact same error as the OP for Friends when I found that bug, and I thought it was an issue with some shows on Netflix, but Friends was also removed from Netflix (at least in Brazil), so it makes sense.

I'm

[2022-05-22 16:25] #118 closed, assigned to rafaelgomesxyz

[2022-05-22 17:17] rafaelgomesxyz commented on #133
Please try the `.zip` files from this PR and let me know if it's fixed: https://github.com/trakt-tools/universal-trakt-scrobbler/pull/162

[2022-05-22 20:18] rafaelgomesxyz commented on #153
I believe I've fixed it.

Please test the `.zip` files provided in the PR and confirm: https://github.com/trakt-tools/universal-trakt-scrobbler/pull/161

[2022-05-22 20:35] ITSYV commented on #117
@rafaelgomesxyz Working here in Belgium - Europe 👍 both scrobling & history sync

[2022-05-23 00:45] rafaelgomesxyz commented on #157
I don't think it's a rare bug, the cache is never updated with the latest `watchedAt` and `progress` until it expires (which takes 24 hours).

[2022-05-23 08:41] fiveoone commented on #133
Hi there, unfortunately, it didn't do the trick for me. I get stuck in a 'loading' screen with no changes. I don't have a huge amount of watched things on HBO Max either so it should be faster (Netflix loads successively almost immediately)
<img width="847" alt="Screenshot 2022-05-23 at 10 39 20" src="https://user-images.githubusercontent.com/65599017/169779668-8881686d-f7ed-4298-8ec8-8fc4429eae1b

[2022-05-23 08:42] fiveoone commented on #141
Oh, snap!
I'm sorry I thought I responded to this. Yes, the update has fixed it for me and Netflix works as expected now! Thank you so much.

[2022-05-23 11:44] #154 closed, assigned to rafaelgomesxyz

[2022-05-23 11:46] rafaelgomesxyz commented on #133
HBO Max is actually a bit slow because it needs 1 request for each watched item, unlike Netflix, where you get everything in 1 request. Do you know how to open the console for the background page of the extension and go to the Network tab to watch the requests?

[2022-05-23 11:47] rafaelgomesxyz commented on #141
Awesome!

[2022-05-23 11:47] #141 closed, assigned to rafaelgomesxyz

[2022-05-23 11:48] #157 closed, assigned to rafaelgomesxyz

[2022-05-23 12:18] fiveoone commented on #133
I think I found the Network tab in the console. I'll leave it on for a bit to make sure HBO Max has all the time it needs and to see if anything changes, but this is everything that's happening so far. Please let me know if I can do anything else!

<img width="557" alt="Screenshot 2022-05-23 at 14 15 55" src="https://user-images.githubusercontent.com/65599017/169817304-1f5869a5-84b4-4928-b63a-c430

[2022-06-09 09:38] bnowakow opened #167 "Missing required parameter: client_id while authorising to trakt oauth"
Running 7d05243322a36bd4b8ab90fe44fa316df14a37e9
Removed extension, revoked trakt oauth permission, built extension from scratch, installed new extension. When trying to authorise oauth, after login to trakt, got error "Missing required parameter: client_id".

<img width="1136" alt="Screenshot 2022-06-09 at 11 32 48" src="https://user-images.githubusercontent.com/5650258/172817087-b43e373d-a6c8-4c

[2022-06-09 18:50] tunisiano187 opened #168 "Add new language: French"

[2022-06-09 18:51] #168 closed, assigned to trakt-tools-bot

[2022-06-10 15:38] bobthesponge opened #169 "Empty history of primevideo"
Hi,

First, thx for your work.

I try to sync my primevideo account, it show good profil account in bar, but i get "Reached the end of the history" immediatly.
Connexion from EU.

Netlix sync work like a charm, thx to you.

[2022-06-16 08:19] fiveoone commented on #133
Hey, anything else I can do to help you get to the bottom of this? Tried it again now but same issue, just loads and loads and nothing comes up. I absolutely understand if you haven't had the time or other priorities, just wanted to check in.

[2022-06-18 17:04] olavinto opened #170 "Add new language: FINNISH"

[2022-06-18 17:15] olavinto commented on #170
"Suomi" (language) is Finnish in English. Something fishy is going on! I should know, since I've soon been speaking and writing it for almost 40 years now...

[2022-06-18 17:17] rafaelgomesxyz commented on #170
It's just the brackets. They shouldn't be there.

[2022-06-18 17:17] olavinto commented on #170
Damn. Should have figured that one out...

[2022-06-18 17:17] #170 closed, assigned to trakt-tools-bot

[2022-06-27 00:03] Hillgrove commented on #133
getting same issues

[2022-06-27 18:31] nyffchanium commented on #79
I've implemented history sync for Crunchyroll in PR #165.
No support for scrobbling as for now, but I think I'll look into it sometime.

[2022-06-28 07:39] #79 closed, assigned to nobody

[2022-06-29 10:09] KibosJ opened #171 "Disney+ History"
The extension below allows collecting Disney+ History

https://chrome.google.com/webstore/detail/yougov-safe/lbenbpjiigbogcmofbmoojbkojdmojfl

Not sure if it's possible, but could this be adapted to work with this extension?

[2022-07-03 13:14] nyffchanium commented on #171
I've looked into it a bit.

Sadly, from what I can tell, this extension does not seem to collect the actual history. It merely monitors the "Continue Watching" information on the overview and the episode info in the season-view.

General findings:
While the information of _when_ you played _what_ exists somewhere (the information is returned for some requests as "bookmarks"; this includes watching

[2022-07-13 09:52] bobthesponge commented on #169
for helping you, i look trough proxy what was called and response:

called:
GET /gp/video/api/getWatchHistorySettingsPage?widgets=activity-history&widgetArgs=%7B%22startIndex%22%3A0%7D HTTP/1.1

Response with history is OK, but it say always "end of history":
{"__type":"atv.wps#SettingsOutput","metadata":{"availability":{"description":"Fatal Count: 0, Error Count: 0, Warning Count: 0","severity":"

[2022-07-19 08:27] EduardoOliveira commented on #158
Same problem here,
Chrome 103.0.5060.114

Can't load manifest file...

[2022-07-27 18:10] snipiba opened #174 "Add new language: Slovak"

[2022-07-27 18:11] #174 closed, assigned to trakt-tools-bot

[2022-07-29 10:00] Orinks commented on #158
Same here. I downloaded the beta and the extracted folder doesn't even contain a manifest.json file. I verified this by looking in the zip archive itself.

[2022-07-29 10:02] Orinks commented on #158
If we download the project with Github Desktop, how can we compile it? Or is it a matter of just unpacking it?

[2022-08-02 10:18] apchin opened #175 "Add new language: Chinese Simplified"

[2022-08-04 04:16] Habitual-Sinner commented on #169
I'm experiencing the same issue here, Amazon just shows an empty history list with a "Reached end of history" message.

i have noticed that when you first sign-in, it briefly opens the Amazon registered devices page but closes the tab before you can do anything.

Netflix is working great so thnx for that, any help would be much appreciated, is there anything I can provide in terms of logs etc. tha

[2022-08-04 11:25] ghost opened #176 "Unable to download Plugin from my browser as the link is showing 404 error"
Hi team, I recently subscribed to Trakt Scrobbler and wanted to use this extension but whenever I am clicking on downloading the file, it is showing me 404 error

[2022-08-04 19:15] Manfred73 commented on #158
I downloaded the chrome beta tag and dragged the who folder into the extensions of chrome. It gives a manifest error. Current manifest is version 2.0 but that will be deprecated in the future and needs to become 3.0.
The plugin seems to work partly though: it only works for syncing Netflix after I login to my Netflix account. HBO Max and Amazon Primevideo don't seem to work after logging in.

[2022-08-04 19:26] Manfred73 opened #177 "Syncing not working for HBO Max and Amazon Primevideo"
I'm able to sync with Netflix after logging into my Netflix account.
Syncing however doesn't work with HBO Max and Amazon Primevideo. It comes with a popup to login and then sync again. Even after logging into my HBO Max and Primevideo account, syncing still doesn't work. It keeps popping up with the message I need to login.

[2022-08-04 22:12] JustAuramo opened #178 "Viaplay TV-Series sync and scrobbling not working"
trakt scrobbling extension on viaplay not working, i watch beauty and the beast series and almost all episodes not working anymore. idk why or whats happening, in history page i got error NOT FOUND ON TRAKT section. please fix that
![Näyttökuva 2022-08-05 011138](https://user-images.githubusercontent.com/108193124/182961514-f8c7306b-aff4-4ccc-b090-7e0c62cf994b.png)

[2022-08-05 09:25] wickum commented on #176
same here

[2022-08-08 20:50] netcaretx commented on #151
I see this is marked as closed and a duplicate but I have read through all the reported issues/duplicates but I do not see a clear solution for US users. I see EU DE etc. mentioned, but nothing for US users. Can I get a list of specific changes to fix amazon-prime.js to get it to work for USA users, please!!!

[2022-08-08 20:55] netcaretx commented on #177
same here USA

[2022-08-12 23:21] UseTheFork commented on #176
You can find the zip under releases:
https://github.com/trakt-tools/universal-trakt-scrobbler/releases

hope that helps.

[2022-08-23 16:02] Brandon1212b opened #179 "Cannot Sync to Prime, Netflix, HBO"
I am logged into the services however when I click sync I get the following error message: "Not Logged In
Looks like you're not logged in to this service. Please go to the page below and log in before trying to sync."

When clicking the hyperlink for the page it shows that I am logged in.

[2022-08-23 16:14] Brandon1212b commented on #177
Problem is because HBO is redirected to Hbomax.com which automatically does not have the user logged in.

Directing to https://play.hbomax.com/page/urn:hbo:page:home might fix this

[2022-08-23 20:13] enzon19 opened #181 "Star+ support"
Hey, [Star+](https://www.starplus.com/) uses the same technology of Disney+. It's literally the same player (UI, features, everything) and the same pattern for url: `[language]/video/[id]`.

I still haven't tried to copy and paste codes from the Disney+ integration into a new template using that `@trakt-tools/cli`. Should be easy, but I don't what to do after with these TypeScript files, lol.

Any

[2022-08-26 16:18] enzon19 commented on #181
**Ok, so I have made something very dumb, but it's working!**
Until somebody adds the Star+ in a way not dumb, my ugly method is working. I don't know if I breaked any other service doing this, anyway... I just use Disney+, Star+ and HBO Max (broken by default) with this extension, so for me it's very very nice.

It's just an improvisation because, as I saied above, I have never worked with TypeSc

[2022-08-29 13:48] MrMamen commented on #178
Can you make it work with other titles from Viaplay? Also, does it work if you manually correct the item on "is this wrong?"?

[2022-08-29 13:56] MrMamen commented on #179
There are issues with Prime and HBO. However Netflix should work, and it works for me. What region are you in?

[2022-08-29 14:00] MrMamen commented on #175
@rafaelgomesxyz
`Error: Request failed with status code 400`

[2022-08-29 14:28] JustAuramo commented on #178
so I don't know what the problem was, I think it was the trakt api key.  because I changed the extensions api key to my own api key which I created on the trakt.tv site, after this the extension has recognized everything

Hanki Outlook for iOS<https://aka.ms/o0ukef>
________________________________
Lähettäjä: MrMamen ***@***.***>
Lähetetty: Monday, August 29, 2022 4:48:16 PM
Vastaanottaja: trakt-t

[2022-08-31 23:06] pphillips-sf commented on #177
I am having similar issue with Prime Video, as the universal scrobbler shows it seems to want to see "primevideo.com", and complains that it is not logged in, but my account force redirects to Amazon.com to watch video.  I am in the USA, not on any VPNs.

[2022-09-02 19:21] KidAperture commented on #177
Same here, both sites in the US do not sync.

[2022-09-07 17:45] eduardogd commented on #179
Same issue here with amazon prime and hbo+. I'm from Brazil.

[2022-09-10 11:28] bnowakow commented on #167
Is anyone also having above problem? Is still occurring for me in chrome

[2022-09-13 18:07] Trigger911 commented on #179
Can confirm Prime is not working. I am in the USA.. Thanks for your hard work :)

[2022-09-17 04:09] santiagofn opened #185 "Is this still in development?"
Last activity I saw is from 3 months ago. Are there people still working in v1?

[2022-09-20 14:32] JustAuramo opened #186 "does not recognize episodes of streaming services"
does not recognize episodes of streaming services, if I start watching a particular episode and go to the next episode, the extension still shows and sync the previous episode that I am not watching and this is not fixed in any way
![Näyttökuva 2022-09-20 173131](https://user-images.githubusercontent.com/108193124/191286225-44cabdf6-dd54-49a0-88cf-b410e98bff3c.png)

[2022-09-20 18:45] mrzoops commented on #179
This seems to be because the extension is looking for primevideo.com to authenticate which has changed to a different URL. Same for HBO max.

[2022-09-22 13:30] mrzoops commented on #177
Is this configured in come config file we can edit?

[2022-09-28 08:24] zkSac opened #188 "Add new language: Spanish, Latin America"

[2022-09-28 08:44] #188 closed, assigned to trakt-tools-bot

[2022-09-28 08:45] zkSac opened #189 "Add new language: "Spanish""

[2022-09-28 12:57] MrMamen commented on #189
@rafaelgomesxyz How to fix this?

[2022-09-28 13:28] rafaelgomesxyz commented on #189
Will take a look later.

[2022-09-29 05:43] MrMamen commented on #185
Well. It's an open source project so you're welcome to join. Its been mostly developed by @rafaelgomesxyz and to lesser degree myself. As you can see on the activity statistics below it has always had long periods where no one has done anything:
![image](https://user-images.githubusercontent.com/5688606/192946763-b272cd84-d529-45b5-b32f-32e6030f4e61.png)
Source: https://github.com/trakt-tools/univ

[2022-09-29 05:43] #185 closed, assigned to nobody

[2022-09-30 03:28] Bioll opened #192 "Failed to load Netflix history."
Hi there,

Thank you for your work. Recently, I got an error while syncing my Netflix history on the Chrome website. Hope you guys could take a look at it.

Thanks a lot.
<img width="702" alt="Screen Shot 2022-09-30 at 11 24 38 AM" src="https://user-images.githubusercontent.com/38152649/193183830-eb745199-81d0-4c19-b9c7-614a8a11add9.png">

[2022-09-30 03:30] chrisofspades commented on #192
I'm having the same issue. Just started occurring today.

[2022-09-30 05:05] Trigger911 commented on #192
Here to say I have the same issue ...

[2022-09-30 08:49] Sonar97 opened #193 "Error on Site"
Hi, it appears that when I try to access the site for the release, I get an error 404, any other ways to get the release?

[2022-09-30 09:01] #193 closed, assigned to nobody

[2022-10-01 11:50] #189 closed, assigned to trakt-tools-bot

[2022-10-01 11:51] rafaelgomesxyz commented on #189
Finally. @MrMamen When there are more than 1 languages and we want to add a language with the exact name, we use double quotes to surround the language.

[2022-10-01 13:07] #175 closed, assigned to trakt-tools-bot

[2022-10-01 13:13] #102 closed, assigned to rafaelgomesxyz

[2022-10-01 13:13] #153 closed, assigned to rafaelgomesxyz

[2022-10-01 15:19] rafaelgomesxyz commented on #192
Scrobbling broken too, right?

[2022-10-01 16:06] #61 closed, assigned to nobody

[2022-10-01 16:39] #192 closed, assigned to rafaelgomesxyz

[2022-10-01 19:11] rafaelgomesxyz commented on #179
Please follow #99 for Amazon Prime issues and #133 for HBO Max issues. Closing as duplicate of those.

Netflix should work, please try with the latest beta version.

[2022-10-01 19:11] #179 closed, assigned to nobody

[2022-10-01 19:11] rafaelgomesxyz commented on #177
Please follow #99 for Amazon Prime issues and #133 for HBO Max issues. Closing as duplicate of those.

[2022-10-01 19:11] #177 closed, assigned to nobody

[2022-10-01 19:37] rafaelgomesxyz commented on #133
Hey guys, could you try the `.zip` files from https://github.com/trakt-tools/universal-trakt-scrobbler/pull/162 and see if it's fixed for you?

[2022-10-01 20:08] Hillgrove commented on #133
that seems to have fixed HBO Max for me.. Is this the same update as the new beta release?

[2022-10-01 20:18] rafaelgomesxyz commented on #133
Awesome.

Nope. Beta is only for what's on `master`. #162 hasn't been merged yet, but if more people confirm it's working I'll probably merge it later.

[2022-10-01 20:25] Hillgrove commented on #133
aight.. welcome "back" and keep up the good work. Hopefully the new manifest doesn't screw you (us?) over completely.

[2022-10-01 22:22] rafaelgomesxyz commented on #156
Will try to tackle this. From an initial observation, this is what needs to be done:

- [x] General changes to the manifest file. These will probably not be that difficult, as it's mostly renaming things and moving things around.
- [ ] Adapt any logic that required the background page to stay active (service workers go inactive after a while). Most of this is probably achievable by storing the dat

[2022-10-01 23:03] #133 closed, assigned to rafaelgomesxyz

[2022-10-03 23:16] #181 closed, assigned to rafaelgomesxyz

[2022-10-06 16:46] jayzone91 opened #200 "Add new language: German"

[2022-10-06 16:47] #200 closed, assigned to trakt-tools-bot

[2022-10-06 21:03] biskitstix opened #201 "Chrome and Firefox zips no longer in the beta tag"
The zips for the Chrome and Firefox extensions are no longer listed to download under the beta tag since an update a few days ago. I couldn't seem to find them elsewhere. Apologies if I've missed something or if this issue has already been brought to someone's attention.

[2022-10-06 21:26] rafaelgomesxyz commented on #201
They're in the releases: https://github.com/trakt-tools/universal-trakt-scrobbler/releases Under assets.

[2022-10-06 21:52] biskitstix commented on #201
Visiting that page, for me at least, only displays the message:
"There aren’t any releases here
You can create a release to package software, along with release notes and links to binary files, for other people to use. Learn more about releases in [our docs](https://docs.github.com/repositories/releasing-projects-on-github/about-releases)."

[2022-10-06 22:00] KHouse75 commented on #201
I'm here for the same reason.  There aren't any files under releases.

[2022-10-06 22:04] rafaelgomesxyz commented on #201
Oops, it wasn't published. Check now.

[2022-10-06 22:11] biskitstix commented on #201
It's there now! Thank you so much!

[2022-10-08 14:37] rafaelgomesxyz commented on #201
You're welcome!

[2022-10-08 14:37] #201 closed, assigned to nobody

[2022-10-08 15:54] Sherloks opened #202 "Netflix History Sync is failing because Netflix response doesn't contain summary"
When loading my Netflix History, I receive the following message in my console

`Failed to load history. TypeError: Cannot read properties of undefined (reading 'season')`
See: https://github.com/trakt-tools/universal-trakt-scrobbler/blob/beta/src/services/netflix/NetflixApi.ts#L332

In my case it's failing on an episode from Family Guy ("movieID": 81252762).

When looking at the response from `/a

[2022-10-10 15:16] fikimaul opened #203 "Add new language: Indonesian"

[2022-10-10 15:17] #203 closed, assigned to trakt-tools-bot

[2022-10-10 18:09] Tasty-01 opened #204 "No Chrome.zip or any manifest file"
The readme says to unzip chrome.zip but there is no such file in the folder. In fact there is no manifest file at all so this can't be added as an extension to Chrome.

Also this link in the readme is dead: https://github.com/trakt-tools/universal-trakt-scrobbler/releases/tag/1.0.0-beta

[2022-10-10 22:06] boris377 commented on #204
https://github.com/trakt-tools/universal-trakt-scrobbler/releases/

Go to this page instead. They should def update their main page to just go to the releases page.

[2022-10-15 13:52] deluxenet opened #205 "Add new language:e.j.spanish"

[2022-10-16 23:11] #176 closed, assigned to nobody

[2022-10-19 18:19] jwchia1 opened #206 "prime video history repeats"
hi,

i'm not sure how to explain the issue but it seems when i load the history, there are multiple repeats of the history.
i'm not sure if it's due to the prime video watch history loading incrementally resulting in this

regards,
chris

[2022-10-19 21:49] louiscrc opened #207 "Fails to load history (Netflix) previous than 1,5 year ago"
Hi!
Everything seemed to be working very well while syncing my 4 years long netflix history, but when the srocbbler reached 1st of march, it crashed with the message "failed to load history". I don't know if it's linked to the date or number of contents (because I've watched many things since march 2021.
I tried to deactivate image loading in the settings, but it didn't change anything.

[2022-10-19 22:02] louiscrc commented on #207
I tried on firefox and I get the exact same problem

[2022-10-20 04:08] kdpuvvadi opened #208 "FER: Add hotstar and Amazon.in"
[hotstar](https://www.hotstar.com/) essentially Disney+ of India.

[2022-10-21 04:01] fikimaul commented on #208
I was work on hotstar.com service. But series not yet work, after all work i will merge to this repo. Maybe wanna test the build.
[chrome.zip](https://github.com/trakt-tools/universal-trakt-scrobbler/files/9835599/chrome.zip)

[2022-10-21 04:18] kdpuvvadi commented on #208
any build for firefox?

[2022-10-21 04:33] fikimaul commented on #208
[firefox.zip](https://github.com/trakt-tools/universal-trakt-scrobbler/files/9835703/firefox.zip)
this, but i never test the firefox build

[2022-10-21 06:37] merqrial opened #209 "Add new language: Marathi"

[2022-10-21 06:38] #209 closed, assigned to trakt-tools-bot

[2022-10-21 07:24] Catvari opened #210 "Crunchyroll sync not working"
It's impossible to sync with crunchyroll.
The extension always ask to login on the service even if it's already done.

![image](https://user-images.githubusercontent.com/55973375/197137040-a72c63fc-7f73-452a-b2a7-e11417bad1fa.png)
![image](https://user-images.githubusercontent.com/55973375/197137191-433dcbd1-9d8a-4130-b53a-59cd684b24fa.png)

[2022-10-21 16:18] koying opened #211 "Prime broken?"
Not sure if it's only me, but Prime is broken for me.
Tried various browsers on various PC

![image](https://user-images.githubusercontent.com/164740/197242305-b9ada666-73ad-4151-b7f9-18ca0d9882ce.png)

[2022-10-21 17:23] 216Sims commented on #211
I started today testing and for two brief flickering moments I could look into the sync history of Prime (but only until 2019), but the rest of the time it either doesn't end loading, it immediatley closes with "**failed to load history**" warning or just after some scrolling. Tested on **Firefox** and **Chrome**.
There could be a problem on my side: I logged in on **prime.com** for the first time

[2022-10-21 17:31] 216Sims commented on #207
There are several problems now but it started like that for me. Now it's just a coincdence if it loads at all. However, if it works, then always just until this date. On Firefox and Chrome.
I tried everything I can think of: Clear Cache, Clear Storage, Log out - log in again, deleting it on the browser, deleting the files and downloading them again. It's really a pity...

[2022-10-21 18:13] fikimaul commented on #208
Hi @kdpuvvadi i've new build and fix the series on hotstar. Visit https://github.com/trakt-tools/universal-trakt-scrobbler/pull/212 to test the build

[2022-10-22 12:28] emaasland commented on #207
I have this same issue, however it is also preventing me from setting up automatic syncing.

Personally I do not need to have the history as far back, however as no sync ever finishes due to the error the option to enable automatic syncing is still awaiting a first sync date.
This is also on Chrome, with the 14-10 beta release installed.

[2022-10-24 11:26] Deanosim commented on #211
I just noticed scrobbling doesn't work on chrome anymore for prime video so somethings broken.

Edit:
Just realised history just gives an error and doesn't load the history page anymore either.

[2022-10-24 11:28] koying commented on #211
PS: Forgot to mention that I'm using History only, no scrobbling

[2022-10-25 06:29] MrMamen commented on #207
It's very hard to determine the cause of this. Based on your description it seems that there is a title in your history that causes something to fail. I could be that the title contains strange characters, or is in a strange format. It could also be that the series or movie has been removed from Netflix and this causes some error in the lookup. Anyways it would be much easier to figure this out if

[2022-10-25 20:00] 216Sims commented on #207
For others with the same or a similar problem:
So, first there was a show in the offical netflix history of which the name/title suddenly dissapeared. Deleting this one didn't helped completley. I tested and deleted step by step some entries/entire shows which are currently gone and it seems to work. **Thank you for that**, @MrMamen.

Fortunately I synced them already with traktflix or saved the t

[2022-10-25 20:50] Trigger911 commented on #207
I am also able to reproduce the error but it happens so fast I cant see the show\movies name.

[2022-10-25 21:00] 216Sims commented on #207
My "trick": Recording the screen while scrolling down (the easiest way with windows key + G). Then you can click pause and look which one was the last entry before it crashes. In my case the error occured because of entries earlier to this one which I had to look up then on Netflix.

[2022-10-26 08:23] louiscrc commented on #207
Ok so the problem seems to be linked with series which are not anymore on Netflix, because as I scrolled through my watching history, guess what, I was watching Prison break on 1st of March 2021, which isn't anymore on Netflix. I'm going to remove it from the history and try to scrobble again.
Actually, I just realize this problem is kinda weird because some other series that I watched after March

[2022-10-26 08:25] louiscrc commented on #207
What you can also do is downloading your Netflix history as a CSV, and import manually (it's pretty long but still a solution) the titles that are not anymore on Netflix, and therefore can't be recognized the scrobbler, while removing them from your online Netflix history so that the scrobbler can continue its work

[2022-10-31 09:29] badelie commented on #211
Same for me - it was working with the test version, but no longer working with the new beta [2022-10-14T21:55:03.087Z] release. It is a fresh install of the add-on.

[2022-10-31 09:50] koying commented on #211
There is more to this.
A couple of days ago it worked on a specific machine in a specific browser, once. I'm trying to make a sense to it...

[2022-11-02 04:18] #206 closed, assigned to nobody

[2022-11-02 04:19] jwchia1 commented on #206
i tried again and this time it seems to be fine
can't reproduce the issue

[2022-11-05 07:25] noah978 commented on #210
I believe this is due to the URL change. The new site is no longer using the "beta" subdomain. Its just normal crunchyroll now

[2022-11-06 22:36] MrMamen commented on #207
We ideally want to support syncing of shows that are gone from Netflix and other services. It does however require some additional logic since a lot of episodic details are missing from the history page.

[2022-11-09 01:48] CoLdAs1cE commented on #211
I think the api urls have changed, either that or different api url depending on region.  cuz mine is not what is in console

[2022-11-12 23:20] eldonzo commented on #211
I got the same error. As I can see the https://api.rollbar.com/api/1/item/ API returns 429, so too many requests.

This is the exact error in the response: "Over plan monthly limit and overages disabled. Project id 516902 access token c1669aa5383f4f3dbbeb005d4f597335."

[2022-11-14 15:16] slunat opened #217 "Not Retrieving New Plays"
For some reason, I can no longer see any of my recent Netflix plays in the extension. I have been watching The Sandman and none of it has synced across to Trakt, it is not in my Trakt history and it is not displaying at all in the extension, so I can't even sync it from there. I can see the episodes I have watched in my viewing activity in Netflix, the extension is just not pulling it.

I have tri

[2022-11-15 14:52] slunat commented on #217
Just to update, a lot of my missing Sandman episodes did show up after I had finished the series yesterday, not sure if that is coincidence or not. I still can't see the first two episodes of the season listed in the extension though, along with a couple of other episodes of other shows I watched, so it is still not pulling everything through.

[2022-11-21 04:47] isleshocky77 opened #219 "Unable to run `npm install` or build `master` while using other methods to install"
I'm attempting to build on `master` and running across a couple of issues.

1. `npm install` fails

[code]

*NOTE* I tried this on `lts/hydrogen`  and `lts/gallium`

2. I got this to finally install by using `npm install --legacy-peer-deps`; however, I then couldn't get it to build without

[code]

3. So then I looked at your workflows and notice it's using `pnpm`. So I tried using that. I was abl

[2022-11-21 04:53] rafaelgomesxyz commented on #219
Yep, the master build started failing as well, with that same error: https://github.com/trakt-tools/universal-trakt-scrobbler/actions/runs/3408744115/jobs/5669874948

I'll investigate, likely an issue with one of the dependencies.

[2022-11-26 07:46] zeroquinc opened #222 "Kijk.nl not working"
Hi,

I enabled the addon, logged into Trakt. Enabled the option to scrobble when watching somethin on https://kijk.nl

But it doesn't work. I started this show (https://www.kijk.nl/programmas/de-oranjewinter/FqnGfcLIieO) but it doesn't scrobble and the application says "Watch something!".

How can I fix this?

[2022-11-28 07:45] KidAperture commented on #211
Same issue. Been a few weeks since Amazon's history was scrobbling.

[2022-11-29 09:56] MrMamen commented on #219
The documentation should reflect that we use pnpm, or we should try to make this work with npm as well. @rafaelgomesxyz

[2022-11-29 09:58] MrMamen commented on #222
A developer from Netherlands has to look into this I think. @ITSYV ?

[2022-11-29 14:43] isleshocky77 commented on #219
@MrMamen I noted above that I tried to use `pnpm` as well and it's failing with it. Not sure if you were inferring it works with `pnpm` or if you just wanted to use this as a place to document that we should be using `pnpm`.